In [4]:
import pandas as pd

# Ruta del archivo cargado
file_path = "C:\\Users\\Usuario\\Documents\\WILLIAM\\DOCUMENTOS\\PERSONALES\\MONOKERA\\MOCK_DATA.csv"

# Cargar el archivo para inspeccionar su contenido
data = pd.read_csv(file_path)

# Mostrar las primeras filas para análisis inicial
data.head()

,id,first_name,last_name,email,gender,policy_number,insured_name,insured_gender,insured_age,insured_address,...,agent_email,agent_phone,claim_status,claim_date,claim_amount,claim_description,payment_status,payment_date,payment_amount,payment_method
0,1.0,Bessy,Tomaszynski,btomaszynski0@icio.us,Male,1,Bessy Tomaszynski,NaN,63.0,1 Northland Trail,...,btomaszynski0@alexa.com,+1 (757) 646-3536,Approved,12/11/2022,7589.60,"Duis bibendum, felis sed interdum venenatis, t...",Overdue,3/19/2022,644.58,Credit Card
1,2.0,Cher,Gjerde,cgjerde1@hexun.com,NaN,2,Cher Gjerde,Female,19.0,98989 Basil Way,...,cgjerde1@fotki.com,+1 (850) 302-7531,Denied,8/20/2022,5777.00,Quisque id justo sit amet sapien dignissim ves...,Overdue,6/3/2022,912.79,Check
2,3.0,Felicity,Lowman,flowman2@flavors.me,Male,3,Felicity Lowman,Female,43.0,2 Derek Place,...,flowman2@wikispaces.com,+1 (754) 879-3501,Pending,5/4/2022,1684.43,In sagittis dui vel nisl. Duis ac nibh. Fusce ...,Pending,8/23/2022,995.75,Check
3,4.0,Ive,Jervois,ijervois3@epa.gov,Male,4,Ive Jervois,Male,60.0,889 Twin Pines Court,...,ijervois3@ebay.co.uk,NaN,Approved,8/9/2022,8160.13,In hac habitasse platea dictumst. Etiam faucib...,Pending,11/18/2022,190.06,Bank Transfer
4,5.0,Gretal,Bauckham,gbauckham4@slideshare.net,Female,5,Gretal Bauckham,Female,29.0,39745 Clarendon Hill,...,gbauckham4@goo.gl,+1 (480) 648-4238,Approved,6/8/2022,9694.67,Praesent id massa id nisl venenatis lacinia. A...,Pending,11/26/2022,645.52,Check

In [8]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, to_date
from pyspark.sql.types import DoubleType

# Crear la sesión de Spark
spark = SparkSession.builder.appName("ETL_Policy_Data").getOrCreate()

# Ruta del archivo
file_path = "C:\\Users\\Usuario\\Documents\\WILLIAM\\DOCUMENTOS\\PERSONALES\\MONOKERA\\MOCK_DATA.csv"

# Cargar el archivo CSV
data = pd.read_csv(file_path)

# Limpieza de datos
# Convertir fechas al formato correcto
date_columns = ["claim_date", "payment_date"]
for col_name in date_columns:
    df = df.withColumn(col_name, to_date(col(col_name), "M/d/yyyy"))

# Manejo de valores nulos
df_cleaned = df.fillna({
    "insured_age": 0,
    "insured_gender": "Desconocido",
    "claim_status": "Unknown",
    "payment_status": "Unknown",
    "payment_method": "Unknown"
})

# Convertir columnas numéricas relevantes a tipos adecuados
numeric_columns = ["claim_amount", "payment_amount"]
for col_name in numeric_columns:
    df_cleaned = df_cleaned.withColumn(col_name, col(col_name).cast(DoubleType()))

# Mostrar las primeras filas después de limpieza
df_cleaned.show(5)

print("ETL completado y datos guardados en PostgreSQL.")

+--------------------+--------------------+--------------------+--------------------+-----------+-------------+-----------------+--------------+-----------+-----------------+------------+-------------+-------------------+---------------+-----------------+---------------+--------------+-----------------+--------------+-----------+-----------------+-----------------+--------------------+-----------------+------------+----------+------------+--------------------+--------------+------------+--------------+--------------+
|                  id|          first_name|           last_name|               email|     gender|policy_number|     insured_name|insured_gender|insured_age|  insured_address|insured_city|insured_state|insured_postal_code|insured_country|policy_start_date|policy_end_date|premium_amount|deductible_amount|coverage_limit|policy_type|insurance_company|       agent_name|         agent_email|      agent_phone|claim_status|claim_date|claim_amount|   claim_description|payment_status|payment_date|payment_amount|payment_method|
+--------------------+--------------------+--------------------+--------------------+-----------+-------------+-----------------+--------------+-----------+-----------------+------------+-------------+-------------------+---------------+-----------------+---------------+--------------+-----------------+--------------+-----------+-----------------+-----------------+--------------------+-----------------+------------+----------+------------+--------------------+--------------+------------+--------------+--------------+
|                   1|               Bessy|         Tomaszynski|btomaszynski0@ici...|       Male|            1|Bessy Tomaszynski|   Desconocido|         63|1 Northland Trail|     Suffolk|     Virginia|               NULL|           NULL|       2023-06-05|     03/13/2023|       7506.95|           263.51|     851969.14|       Home|            Jazzy|Bessy Tomaszynski|btomaszynski0@ale...|+1 (757) 646-3536|    Approved|2022-12-11|      7589.6|Duis bibendum, fe...|       Unknown|        NULL|          NULL|       Unknown|
|In hac habitasse ...| velit id pretium...| diam erat fermen...| nec condimentum ...|       NULL|         NULL|             NULL|   Desconocido|          0|             NULL|        NULL|         NULL|               NULL|           NULL|             NULL|           NULL|          NULL|             NULL|          NULL|       NULL|             NULL|             NULL|                NULL|             NULL|     Unknown|      NULL|        NULL|                NULL|       Unknown|        NULL|          NULL|       Unknown|
|Aliquam quis turp...|             Overdue|           3/19/2022|              644.58|Credit Card|         NULL|             NULL|   Desconocido|          0|             NULL|        NULL|         NULL|               NULL|           NULL|             NULL|           NULL|          NULL|             NULL|          NULL|       NULL|             NULL|             NULL|                NULL|             NULL|     Unknown|      NULL|        NULL|                NULL|       Unknown|        NULL|          NULL|       Unknown|
|                   2|                Cher|              Gjerde|  cgjerde1@hexun.com|       NULL|            2|      Cher Gjerde|        Female|         19|  98989 Basil Way|   Pensacola|      Florida|              32526|           NULL|       2023-11-09|     01/24/2023|       1856.49|          4149.44|     138025.78|       Life|      Brainlounge|      Cher Gjerde|  cgjerde1@fotki.com|+1 (850) 302-7531|      Denied|2022-08-20|      5777.0|Quisque id justo ...|       Unknown|        NULL|          NULL|       Unknown|
|Vestibulum ac est...| diam id ornare i...| sapien urna pret...| ut volutpat sapi...|    Overdue|     6/3/2022|           912.79|         Check|          0|             NULL|        NULL|         NULL|               NULL|           NULL|             NULL|           NULL|          NULL|             NULL|          NULL|       NULL|             NULL|             NULL|                NULL|             NULL|     Unknown|      NULL|        NULL|                NULL|       Unknown|        NULL|          NULL|       Unknown|
+--------------------+--------------------+--------------------+--------------------+-----------+-------------+-----------------+--------------+-----------+-----------------+------------+-------------+-------------------+---------------+-----------------+---------------+--------------+-----------------+--------------+-----------+-----------------+-----------------+--------------------+-----------------+------------+----------+------------+--------------------+--------------+------------+--------------+--------------+
only showing top 5 rows

ETL completado y datos guardados en PostgreSQL.

In [14]:
import pandas as pd

# Ruta del archivo cargado
file_path = "C:\\Users\\Usuario\\Documents\\WILLIAM\\DOCUMENTOS\\PERSONALES\\MONOKERA\\MOCK_DATA.csv"

# Cargar el archivo para inspeccionar su contenido
data_2 = pd.read_csv(file_path)

# Convertir fechas al formato correcto
date_columns = ["claim_date", "payment_date"]
for col_name in date_columns:
    data_2[col_name] = pd.to_datetime(data_2[col_name], format="%m/%d/%Y", errors="coerce")

# Manejo de valores nulos
data_2.fillna({
    "insured_age": 0,
    "insured_gender": "Desconocido",
    "claim_status": "Unknown",
    "payment_status": "Unknown",
    "payment_method": "Unknown"
}, inplace=True)

# Convertir columnas numéricas relevantes a tipos adecuados
numeric_columns = ["claim_amount", "payment_amount"]
for col_name in numeric_columns:
    data_2[col_name] = pd.to_numeric(data_2[col_name], errors="coerce")

# Mostrar las primeras filas después de limpieza
print(data_2.head())

    id first_name    last_name                      email  gender  \
0  1.0      Bessy  Tomaszynski      btomaszynski0@icio.us    Male
1  2.0       Cher       Gjerde         cgjerde1@hexun.com     NaN
2  3.0   Felicity       Lowman        flowman2@flavors.me    Male
3  4.0        Ive      Jervois          ijervois3@epa.gov    Male
4  5.0     Gretal     Bauckham  gbauckham4@slideshare.net  Female

   policy_number       insured_name insured_gender  insured_age  \
0              1  Bessy Tomaszynski    Desconocido         63.0
1              2        Cher Gjerde         Female         19.0
2              3    Felicity Lowman         Female         43.0
3              4        Ive Jervois           Male         60.0
4              5    Gretal Bauckham         Female         29.0

        insured_address  ...              agent_email        agent_phone  \
0     1 Northland Trail  ...  btomaszynski0@alexa.com  +1 (757) 646-3536
1       98989 Basil Way  ...       cgjerde1@fotki.com  +1 (850) 302-7531
2         2 Derek Place  ...  flowman2@wikispaces.com  +1 (754) 879-3501
3  889 Twin Pines Court  ...     ijervois3@ebay.co.uk                NaN
4  39745 Clarendon Hill  ...        gbauckham4@goo.gl  +1 (480) 648-4238

   claim_status claim_date claim_amount  \
0      Approved 2022-12-11      7589.60
1        Denied 2022-08-20      5777.00
2       Pending 2022-05-04      1684.43
3      Approved 2022-08-09      8160.13
4      Approved 2022-06-08      9694.67

                                   claim_description  payment_status  \
0  Duis bibendum, felis sed interdum venenatis, t...         Overdue
1  Quisque id justo sit amet sapien dignissim ves...         Overdue
2  In sagittis dui vel nisl. Duis ac nibh. Fusce ...         Pending
3  In hac habitasse platea dictumst. Etiam faucib...         Pending
4  Praesent id massa id nisl venenatis lacinia. A...         Pending

   payment_date  payment_amount payment_method
0    2022-03-19          644.58    Credit Card
1    2022-06-03          912.79          Check
2    2022-08-23          995.75          Check
3    2022-11-18          190.06  Bank Transfer
4    2022-11-26          645.52          Check

[5 rows x 32 columns]

In [ ]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, to_date, regexp_extract
from pyspark.sql.types import DoubleType

# Inicializa la sesión de Spark
spark = SparkSession.builder.master("local").appName("DataCleaning").getOrCreate()

# Ruta del archivo cargado
file_path = "C:\\Users\\Usuario\\Documents\\WILLIAM\\DOCUMENTOS\\PERSONALES\\MONOKERA\\MOCK_DATA.csv"

# Leer el archivo CSV y asegurarse de que tiene encabezado y tipo de datos inferido
data_3 = spark.read.csv(file_path, header=True, inferSchema=True)

# Verificar los nombres de las columnas
print("Column names: ", data_3.columns)

# Limpiar la columna 'id' para extraer solo los números (si están en el formato esperado)
# Usamos expresiones regulares para extraer solo la parte numérica
data_3 = data_3.withColumn('id', regexp_extract(col('id'), r'\d+', 0))

# Filtrar filas donde 'id' no es nulo y contiene solo números
data_3_cleaned = data_3.filter(col('id').rlike('^\d+$'))

# Verificar si las columnas de fecha existen y convertirlas al formato correcto
date_columns = ["claim_date", "payment_date"]
for col_name in date_columns:
    if col_name in data_3_cleaned.columns:
        data_3_cleaned = data_3_cleaned.withColumn(col_name, to_date(col(col_name), "M/d/yyyy"))
    else:
        print(f"Columna '{col_name}' no encontrada")

# Manejo de valores nulos
# Rellenar valores nulos con valores predeterminados
data_cleaned = data_3_cleaned.fillna({
    "insured_age": 0,
    "insured_gender": "Unknown",
    "claim_status": "Unknown",
    "payment_status": "Unknown",
    "payment_method": "Unknown"
})

# Convertir columnas numéricas relevantes a tipos adecuados
numeric_columns = ["claim_amount", "payment_amount"]
for col_name in numeric_columns:
    if col_name in data_cleaned.columns:
        data_cleaned = data_cleaned.withColumn(col_name, col(col_name).cast(DoubleType()))
    else:
        print(f"Columna '{col_name}' no encontrada para conversión a tipo numérico")

# Mostrar las primeras filas después de limpieza
data_cleaned.show(5)

#data_filtered = data_cleaned.filter((col('payment_amount') > 0) & (col('payment_amount').isNotNull()))

#data_filtered.show(5)
#data.head(), data.info()

Column names:  ['id', 'first_name', 'last_name', 'email', 'gender', 'policy_number', 'insured_name', 'insured_gender', 'insured_age', 'insured_address', 'insured_city', 'insured_state', 'insured_postal_code', 'insured_country', 'policy_start_date', 'policy_end_date', 'premium_amount', 'deductible_amount', 'coverage_limit', 'policy_type', 'insurance_company', 'agent_name', 'agent_email', 'agent_phone', 'claim_status', 'claim_date', 'claim_amount', 'claim_description', 'payment_status', 'payment_date', 'payment_amount', 'payment_method']
+---+----------+-----------+--------------------+------+-------------+-----------------+--------------+-----------+--------------------+-------------+-------------+-------------------+---------------+-----------------+---------------+--------------+-----------------+--------------+-----------+-----------------+-----------------+--------------------+-----------------+------------+----------+------------+--------------------+--------------+------------+--------------+--------------+
| id|first_name|  last_name|               email|gender|policy_number|     insured_name|insured_gender|insured_age|     insured_address| insured_city|insured_state|insured_postal_code|insured_country|policy_start_date|policy_end_date|premium_amount|deductible_amount|coverage_limit|policy_type|insurance_company|       agent_name|         agent_email|      agent_phone|claim_status|claim_date|claim_amount|   claim_description|payment_status|payment_date|payment_amount|payment_method|
+---+----------+-----------+--------------------+------+-------------+-----------------+--------------+-----------+--------------------+-------------+-------------+-------------------+---------------+-----------------+---------------+--------------+-----------------+--------------+-----------+-----------------+-----------------+--------------------+-----------------+------------+----------+------------+--------------------+--------------+------------+--------------+--------------+
|  1|     Bessy|Tomaszynski|btomaszynski0@ici...|  Male|            1|Bessy Tomaszynski|       Unknown|         63|   1 Northland Trail|      Suffolk|     Virginia|               NULL|           NULL|       2023-06-05|     03/13/2023|       7506.95|           263.51|     851969.14|       Home|            Jazzy|Bessy Tomaszynski|btomaszynski0@ale...|+1 (757) 646-3536|    Approved|2022-12-11|      7589.6|Duis bibendum, fe...|       Unknown|        NULL|          NULL|       Unknown|
|  2|      Cher|     Gjerde|  cgjerde1@hexun.com|  NULL|            2|      Cher Gjerde|        Female|         19|     98989 Basil Way|    Pensacola|      Florida|              32526|           NULL|       2023-11-09|     01/24/2023|       1856.49|          4149.44|     138025.78|       Life|      Brainlounge|      Cher Gjerde|  cgjerde1@fotki.com|+1 (850) 302-7531|      Denied|2022-08-20|      5777.0|Quisque id justo ...|       Unknown|        NULL|          NULL|       Unknown|
|  3|  Felicity|     Lowman| flowman2@flavors.me|  Male|            3|  Felicity Lowman|        Female|         43|       2 Derek Place|Pompano Beach|      Florida|              33075|           NULL|       2023-07-21|     05/05/2023|       9799.03|           598.63|     219401.29|       Life|         Realfire|  Felicity Lowman|flowman2@wikispac...|+1 (754) 879-3501|     Pending|2022-05-04|     1684.43|In sagittis dui v...|       Unknown|        NULL|          NULL|       Unknown|
|  4|       Ive|    Jervois|   ijervois3@epa.gov|  Male|            4|      Ive Jervois|          Male|         60|889 Twin Pines Court|       Albany|     New York|              12242|  United States|       2023-08-08|     07/18/2023|        290.53|          4602.64|     669242.87|       Life|      Babblestorm|      Ive Jervois|ijervois3@ebay.co.uk|             NULL|    Approved|2022-08-09|     8160.13|In hac habitasse ...|       Unknown|        NULL|          NULL|       Unknown|
|  5|    Gretal|   Bauckham|gbauckham4@slides...|Female|            5|  Gretal Bauckham|        Female|         29|39745 Clarendon Hill|      Phoenix|      Arizona|               NULL|  United States|       2023-12-24|     03/07/2023|        307.87|          1618.01|     647041.09|       Home|          Tagtune|  Gretal Bauckham|   gbauckham4@goo.gl|+1 (480) 648-4238|    Approved|2022-06-08|     9694.67|Praesent id massa...|       Unknown|        NULL|          NULL|       Unknown|
+---+----------+-----------+--------------------+------+-------------+-----------------+--------------+-----------+--------------------+-------------+-------------+-------------------+---------------+-----------------+---------------+--------------+-----------------+--------------+-----------+-----------------+-----------------+--------------------+-----------------+------------+----------+------------+--------------------+--------------+------------+--------------+--------------+
only showing top 5 rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 32 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   932 non-null    float64
 1   first_name           1000 non-null   object
 2   last_name            883 non-null    object
 3   email                935 non-null    object
 4   gender               870 non-null    object
 5   policy_number        1000 non-null   int64
 6   insured_name         1000 non-null   object
 7   insured_gender       936 non-null    object
 8   insured_age          938 non-null    float64
 9   insured_address      881 non-null    object
 10  insured_city         783 non-null    object
 11  insured_state        1000 non-null   object
 12  insured_postal_code  788 non-null    float64
 13  insured_country      679 non-null    object
 14  policy_start_date    1000 non-null   object
 15  policy_end_date      1000 non-null   object
 16  premium_amount       1000 non-null   float64
 17  deductible_amount    1000 non-null   float64
 18  coverage_limit       945 non-null    float64
 19  policy_type          1000 non-null   object
 20  insurance_company    1000 non-null   object
 21  agent_name           1000 non-null   object
 22  agent_email          1000 non-null   object
 23  agent_phone          889 non-null    object
 24  claim_status         1000 non-null   object
 25  claim_date           1000 non-null   object
 26  claim_amount         1000 non-null   float64
 27  claim_description    1000 non-null   object
 28  payment_status       1000 non-null   object
 29  payment_date         1000 non-null   object
 30  payment_amount       1000 non-null   float64
 31  payment_method       1000 non-null   object
dtypes: float64(8), int64(1), object(23)
memory usage: 250.1+ KB

(    id first_name    last_name                      email  gender  \
 0  1.0      Bessy  Tomaszynski      btomaszynski0@icio.us    Male
 1  2.0       Cher       Gjerde         cgjerde1@hexun.com     NaN
 2  3.0   Felicity       Lowman        flowman2@flavors.me    Male
 3  4.0        Ive      Jervois          ijervois3@epa.gov    Male
 4  5.0     Gretal     Bauckham  gbauckham4@slideshare.net  Female

    policy_number       insured_name insured_gender  insured_age  \
 0              1  Bessy Tomaszynski            NaN         63.0
 1              2        Cher Gjerde         Female         19.0
 2              3    Felicity Lowman         Female         43.0
 3              4        Ive Jervois           Male         60.0
 4              5    Gretal Bauckham         Female         29.0

         insured_address  ...              agent_email        agent_phone  \
 0     1 Northland Trail  ...  btomaszynski0@alexa.com  +1 (757) 646-3536
 1       98989 Basil Way  ...       cgjerde1@fotki.com  +1 (850) 302-7531
 2         2 Derek Place  ...  flowman2@wikispaces.com  +1 (754) 879-3501
 3  889 Twin Pines Court  ...     ijervois3@ebay.co.uk                NaN
 4  39745 Clarendon Hill  ...        gbauckham4@goo.gl  +1 (480) 648-4238

    claim_status  claim_date claim_amount  \
 0      Approved  12/11/2022      7589.60
 1        Denied   8/20/2022      5777.00
 2       Pending    5/4/2022      1684.43
 3      Approved    8/9/2022      8160.13
 4      Approved    6/8/2022      9694.67

                                    claim_description  payment_status  \
 0  Duis bibendum, felis sed interdum venenatis, t...         Overdue
 1  Quisque id justo sit amet sapien dignissim ves...         Overdue
 2  In sagittis dui vel nisl. Duis ac nibh. Fusce ...         Pending
 3  In hac habitasse platea dictumst. Etiam faucib...         Pending
 4  Praesent id massa id nisl venenatis lacinia. A...         Pending

    payment_date  payment_amount payment_method
 0     3/19/2022          644.58    Credit Card
 1      6/3/2022          912.79          Check
 2     8/23/2022          995.75          Check
 3    11/18/2022          190.06  Bank Transfer
 4    11/26/2022          645.52          Check

 [5 rows x 32 columns],
 None)

In [34]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, to_date, regexp_extract
from pyspark.sql.types import DoubleType

# Inicializa la sesión de Spark
spark = SparkSession.builder.master("local").appName("DataCleaning").getOrCreate()

# Ruta del archivo cargado
file_path = "C:\\Users\\Usuario\\Documents\\WILLIAM\\DOCUMENTOS\\PERSONALES\\MONOKERA\\MOCK_DATA.csv"

# Leer el archivo CSV y asegurarse de que tiene encabezado y tipo de datos inferido
data_3 = spark.read.csv(file_path, header=True, inferSchema=True)

# Verificar los nombres de las columnas
print("Column names: ", data_3.columns)

# Limpiar la columna 'id' para extraer solo los números (si están en el formato esperado)
# Usamos expresiones regulares para extraer solo la parte numérica
data_3 = data_3.withColumn('id', regexp_extract(col('id'), r'\d+', 0))

# Filtrar filas donde 'id' no es nulo y contiene solo números
data_3_cleaned = data_3.filter(col('id').rlike('^\d+$'))

# Verificar si las columnas de fecha existen y convertirlas al formato correcto
date_columns = ["claim_date", "payment_date"]
for col_name in date_columns:
    if col_name in data_3_cleaned.columns:
        data_3_cleaned = data_3_cleaned.withColumn(col_name, to_date(col(col_name), "M/d/yyyy"))
    else:
        print(f"Columna '{col_name}' no encontrada")

# Manejo de valores nulos
# Rellenar valores nulos con valores predeterminados
data_cleaned = data_3_cleaned.fillna({
    "insured_age": 0,
    "insured_gender": "Unknown",
    "claim_status": "Unknown",
    "payment_status": "Unknown",
    "payment_method": "Unknown"
})

# Convertir columnas numéricas relevantes a tipos adecuados
numeric_columns = ["claim_amount", "payment_amount"]
for col_name in numeric_columns:
    if col_name in data_cleaned.columns:
        data_cleaned = data_cleaned.withColumn(col_name, col(col_name).cast(DoubleType()))
    else:
        print(f"Columna '{col_name}' no encontrada para conversión a tipo numérico")

# Mostrar las primeras filas después de limpieza
data_cleaned.show(5)

# **CONEXIÓN A SQL SERVER Y ESCRITURA DE DATOS**

# Configuración de la conexión a SQL Server
jdbc_url = "jdbc:sqlserver://LAPTOP-O07NV287:1433;databaseName=monokera"
properties = {
    "user": "williamxlr",
    "password": "Al3xW$1978",
    "driver": "com.microsoft.sqlserver.jdbc.SQLServerDriver"
}

# **1. Insertar en la tabla 'Policy'**
policy_data = data_cleaned.select("policy_number", "policy_start_date", "policy_end_date", "policy_type", "insurance_company")
policy_data.write.jdbc(url=jdbc_url, table="Policy", mode="append", properties=properties)

# **2. Insertar en la tabla 'Insured'**
insured_data = data_cleaned.select("insured_id", "policy_number", "insured_name", "insured_gender", "insured_age",
                                   "insured_address", "insured_city", "insured_state", "insured_postal_code", "insured_country")
insured_data.write.jdbc(url=jdbc_url, table="Insured", mode="append", properties=properties)

# **3. Insertar en la tabla 'Premium'**
premium_data = data_cleaned.select("policy_number", "premium_amount", "deductible_amount", "coverage_limit")
premium_data.write.jdbc(url=jdbc_url, table="Premium", mode="append", properties=properties)

# **4. Insertar en la tabla 'Payments'**
payments_data = data_cleaned.select("policy_number", "payment_status", "payment_date", "payment_amount", "payment_method")
payments_data.write.jdbc(url=jdbc_url, table="Payments", mode="append", properties=properties)

# **5. Insertar en la tabla 'Claims'**
claims_data = data_cleaned.select("policy_number", "claim_status", "claim_date", "claim_amount", "claim_description")
claims_data.write.jdbc(url=jdbc_url, table="Claims", mode="append", properties=properties)

# **6. Insertar en la tabla 'Agents'**
agents_data = data_cleaned.select("policy_number", "agent_name", "agent_email", "agent_phone")
agents_data.write.jdbc(url=jdbc_url, table="Agents", mode="append", properties=properties)

Column names:  ['id', 'first_name', 'last_name', 'email', 'gender', 'policy_number', 'insured_name', 'insured_gender', 'insured_age', 'insured_address', 'insured_city', 'insured_state', 'insured_postal_code', 'insured_country', 'policy_start_date', 'policy_end_date', 'premium_amount', 'deductible_amount', 'coverage_limit', 'policy_type', 'insurance_company', 'agent_name', 'agent_email', 'agent_phone', 'claim_status', 'claim_date', 'claim_amount', 'claim_description', 'payment_status', 'payment_date', 'payment_amount', 'payment_method']
+---+----------+-----------+--------------------+------+-------------+-----------------+--------------+-----------+--------------------+-------------+-------------+-------------------+---------------+-----------------+---------------+--------------+-----------------+--------------+-----------+-----------------+-----------------+--------------------+-----------------+------------+----------+------------+--------------------+--------------+------------+--------------+--------------+
| id|first_name|  last_name|               email|gender|policy_number|     insured_name|insured_gender|insured_age|     insured_address| insured_city|insured_state|insured_postal_code|insured_country|policy_start_date|policy_end_date|premium_amount|deductible_amount|coverage_limit|policy_type|insurance_company|       agent_name|         agent_email|      agent_phone|claim_status|claim_date|claim_amount|   claim_description|payment_status|payment_date|payment_amount|payment_method|
+---+----------+-----------+--------------------+------+-------------+-----------------+--------------+-----------+--------------------+-------------+-------------+-------------------+---------------+-----------------+---------------+--------------+-----------------+--------------+-----------+-----------------+-----------------+--------------------+-----------------+------------+----------+------------+--------------------+--------------+------------+--------------+--------------+
|  1|     Bessy|Tomaszynski|btomaszynski0@ici...|  Male|            1|Bessy Tomaszynski|       Unknown|         63|   1 Northland Trail|      Suffolk|     Virginia|               NULL|           NULL|       2023-06-05|     03/13/2023|       7506.95|           263.51|     851969.14|       Home|            Jazzy|Bessy Tomaszynski|btomaszynski0@ale...|+1 (757) 646-3536|    Approved|2022-12-11|      7589.6|Duis bibendum, fe...|       Unknown|        NULL|          NULL|       Unknown|
|  2|      Cher|     Gjerde|  cgjerde1@hexun.com|  NULL|            2|      Cher Gjerde|        Female|         19|     98989 Basil Way|    Pensacola|      Florida|              32526|           NULL|       2023-11-09|     01/24/2023|       1856.49|          4149.44|     138025.78|       Life|      Brainlounge|      Cher Gjerde|  cgjerde1@fotki.com|+1 (850) 302-7531|      Denied|2022-08-20|      5777.0|Quisque id justo ...|       Unknown|        NULL|          NULL|       Unknown|
|  3|  Felicity|     Lowman| flowman2@flavors.me|  Male|            3|  Felicity Lowman|        Female|         43|       2 Derek Place|Pompano Beach|      Florida|              33075|           NULL|       2023-07-21|     05/05/2023|       9799.03|           598.63|     219401.29|       Life|         Realfire|  Felicity Lowman|flowman2@wikispac...|+1 (754) 879-3501|     Pending|2022-05-04|     1684.43|In sagittis dui v...|       Unknown|        NULL|          NULL|       Unknown|
|  4|       Ive|    Jervois|   ijervois3@epa.gov|  Male|            4|      Ive Jervois|          Male|         60|889 Twin Pines Court|       Albany|     New York|              12242|  United States|       2023-08-08|     07/18/2023|        290.53|          4602.64|     669242.87|       Life|      Babblestorm|      Ive Jervois|ijervois3@ebay.co.uk|             NULL|    Approved|2022-08-09|     8160.13|In hac habitasse ...|       Unknown|        NULL|          NULL|       Unknown|
|  5|    Gretal|   Bauckham|gbauckham4@slides...|Female|            5|  Gretal Bauckham|        Female|         29|39745 Clarendon Hill|      Phoenix|      Arizona|               NULL|  United States|       2023-12-24|     03/07/2023|        307.87|          1618.01|     647041.09|       Home|          Tagtune|  Gretal Bauckham|   gbauckham4@goo.gl|+1 (480) 648-4238|    Approved|2022-06-08|     9694.67|Praesent id massa...|       Unknown|        NULL|          NULL|       Unknown|
+---+----------+-----------+--------------------+------+-------------+-----------------+--------------+-----------+--------------------+-------------+-------------+-------------------+---------------+-----------------+---------------+--------------+-----------------+--------------+-----------+-----------------+-----------------+--------------------+-----------------+------------+----------+------------+--------------------+--------------+------------+--------------+--------------+
only showing top 5 rows

Py4JJavaError: An error occurred while calling o915.jdbc.
: java.lang.ClassNotFoundException: com.microsoft.sqlserver.jdbc.SQLServerDriver
	at java.base/java.net.URLClassLoader.findClass(URLClassLoader.java:445)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:588)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:521)
	at org.apache.spark.sql.execution.datasources.jdbc.DriverRegistry$.register(DriverRegistry.scala:46)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$1(JDBCOptions.scala:103)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$1$adapted(JDBCOptions.scala:103)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:103)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcOptionsInWrite.<init>(JDBCOptions.scala:254)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcOptionsInWrite.<init>(JDBCOptions.scala:258)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:47)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:48)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:75)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:73)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:84)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:76)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:437)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:85)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:83)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:142)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:869)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:391)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:364)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:251)
	at org.apache.spark.sql.DataFrameWriter.jdbc(DataFrameWriter.scala:766)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:75)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:52)
	at java.base/java.lang.reflect.Method.invoke(Method.java:578)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:1623)

In [36]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, to_date, regexp_extract
from pyspark.sql.types import DoubleType

# Inicializa la sesión de Spark
spark = SparkSession.builder.master("local").appName("DataCleaning").getOrCreate()

# Ruta del archivo cargado
file_path = "C:\\Users\\Usuario\\Documents\\WILLIAM\\DOCUMENTOS\\PERSONALES\\MONOKERA\\MOCK_DATA.csv"

# Leer el archivo CSV y asegurarse de que tiene encabezado y tipo de datos inferido
data_3 = spark.read.csv(file_path, header=True, inferSchema=True)

# Verificar los nombres de las columnas
print("Column names: ", data_3.columns)

# Limpiar la columna 'id' para extraer solo los números (si están en el formato esperado)
# Usamos expresiones regulares para extraer solo la parte numérica
data_3 = data_3.withColumn('id', regexp_extract(col('id'), r'\d+', 0))

# Filtrar filas donde 'id' no es nulo y contiene solo números
data_3_cleaned = data_3.filter(col('id').rlike('^\d+$'))

# Verificar si las columnas de fecha existen y convertirlas al formato correcto
date_columns = ["claim_date", "payment_date"]
for col_name in date_columns:
    if col_name in data_3_cleaned.columns:
        data_3_cleaned = data_3_cleaned.withColumn(col_name, to_date(col(col_name), "M/d/yyyy"))
    else:
        print(f"Columna '{col_name}' no encontrada")

# Manejo de valores nulos
# Rellenar valores nulos con valores predeterminados
data_cleaned = data_3_cleaned.fillna({
    "insured_age": 0,
    "insured_gender": "Unknown",
    "claim_status": "Unknown",
    "payment_status": "Unknown",
    "payment_method": "Unknown"
})

# Convertir columnas numéricas relevantes a tipos adecuados
numeric_columns = ["claim_amount", "payment_amount"]
for col_name in numeric_columns:
    if col_name in data_cleaned.columns:
        data_cleaned = data_cleaned.withColumn(col_name, col(col_name).cast(DoubleType()))
    else:
        print(f"Columna '{col_name}' no encontrada para conversión a tipo numérico")

# Eliminar duplicados antes de insertar (especialmente para claves primarias)
data_cleaned = data_cleaned.dropDuplicates()

# Mostrar las primeras filas después de limpieza
data_cleaned.show(5)

# **CONEXIÓN A SQL SERVER Y ESCRITURA DE DATOS**

# Configuración de la conexión a SQL Server
jdbc_url = "jdbc:sqlserver://LAPTOP-O07NV287:1433;databaseName=monokera"
properties = {
    "user": "williamxlr",
    "password": "Al3xW$1978",
    "driver": "com.microsoft.sqlserver.jdbc.SQLServerDriver"
}

# **1. Insertar en la tabla 'Policy'**
policy_data = data_cleaned.select("policy_number", "policy_start_date", "policy_end_date", "policy_type", "insurance_company")
# Verificar duplicados antes de insertar en 'Policy'
policy_data = policy_data.dropDuplicates(["policy_number"])
policy_data.write.jdbc(url=jdbc_url, table="Policy", mode="append", properties=properties)

# **2. Insertar en la tabla 'Insured'**
insured_data = data_cleaned.select("insured_id", "policy_number", "insured_name", "insured_gender", "insured_age",
                                   "insured_address", "insured_city", "insured_state", "insured_postal_code", "insured_country")
# Verificar duplicados antes de insertar en 'Insured'
insured_data = insured_data.dropDuplicates(["insured_id"])
insured_data.write.jdbc(url=jdbc_url, table="Insured", mode="overwrite", properties=properties)

# **3. Insertar en la tabla 'Premium'**
premium_data = data_cleaned.select("policy_number", "premium_amount", "deductible_amount", "coverage_limit")
# Verificar duplicados antes de insertar en 'Premium'
premium_data = premium_data.dropDuplicates(["policy_number"])
premium_data.write.jdbc(url=jdbc_url, table="Premium", mode="overwrite", properties=properties)

# **4. Insertar en la tabla 'Payments'**
payments_data = data_cleaned.select("policy_number", "payment_status", "payment_date", "payment_amount", "payment_method")
# Verificar duplicados antes de insertar en 'Payments'
payments_data = payments_data.dropDuplicates(["policy_number", "payment_date"])  # Asumir que una combinación de estos es única
payments_data.write.jdbc(url=jdbc_url, table="Payments", mode="overwrite", properties=properties)

# **5. Insertar en la tabla 'Claims'**
claims_data = data_cleaned.select("policy_number", "claim_status", "claim_date", "claim_amount", "claim_description")
# Verificar duplicados antes de insertar en 'Claims'
claims_data = claims_data.dropDuplicates(["policy_number", "claim_date"])
claims_data.write.jdbc(url=jdbc_url, table="Claims", mode="overwrite", properties=properties)

# **6. Insertar en la tabla 'Agents'**
agents_data = data_cleaned.select("policy_number", "agent_name", "agent_email", "agent_phone")
# Verificar duplicados antes de insertar en 'Agents'
agents_data = agents_data.dropDuplicates(["agent_email"])  # Suponiendo que el correo electrónico es único
agents_data.write.jdbc(url=jdbc_url, table="Agents", mode="overwrite", properties=properties)

Column names:  ['id', 'first_name', 'last_name', 'email', 'gender', 'policy_number', 'insured_name', 'insured_gender', 'insured_age', 'insured_address', 'insured_city', 'insured_state', 'insured_postal_code', 'insured_country', 'policy_start_date', 'policy_end_date', 'premium_amount', 'deductible_amount', 'coverage_limit', 'policy_type', 'insurance_company', 'agent_name', 'agent_email', 'agent_phone', 'claim_status', 'claim_date', 'claim_amount', 'claim_description', 'payment_status', 'payment_date', 'payment_amount', 'payment_method']
+---+----------+---------+--------------------+------+-------------+----------------+--------------+-----------+--------------------+------------+-------------+-------------------+---------------+-----------------+---------------+--------------+-----------------+--------------+-----------+-----------------+----------------+--------------------+-----------------+------------+----------+------------+--------------------+--------------+------------+--------------+--------------+
| id|first_name|last_name|               email|gender|policy_number|    insured_name|insured_gender|insured_age|     insured_address|insured_city|insured_state|insured_postal_code|insured_country|policy_start_date|policy_end_date|premium_amount|deductible_amount|coverage_limit|policy_type|insurance_company|      agent_name|         agent_email|      agent_phone|claim_status|claim_date|claim_amount|   claim_description|payment_status|payment_date|payment_amount|payment_method|
+---+----------+---------+--------------------+------+-------------+----------------+--------------+-----------+--------------------+------------+-------------+-------------------+---------------+-----------------+---------------+--------------+-----------------+--------------+-----------+-----------------+----------------+--------------------+-----------------+------------+----------+------------+--------------------+--------------+------------+--------------+--------------+
|293|     Lorne|    Denne| ldenne84@smh.com.au|  Male|          293|     Lorne Denne|          Male|         33|28393 Goodland Cr...|   Davenport|         Iowa|              52804|  United States|       2023-06-19|     01/11/2024|       2251.36|           638.48|     351587.59|       Home|         Linkbuzz|     Lorne Denne|ldenne84@shop-pro.jp|+1 (563) 596-5970|    Approved|2022-10-26|     3695.83|Etiam vel augue. ...|       Pending|  2022-06-01|        447.76|         Check|
|915|    Ralina|    Gabel|rgabelpe@vkontakt...|  Male|          915|    Ralina Gabel|        Female|          0|9844 Claremont Av...| Springfield|     Missouri|              65898|  United States|       2023-02-08|     08/19/2023|       5412.31|          3491.01|      551417.7|       Life|           Zoozzy|    Ralina Gabel|    rgabelpe@mlb.com|+1 (417) 562-6585|     Pending|2022-01-24|     8411.61|Aenean lectus. Pe...|          Paid|  2022-10-06|        748.59| Bank Transfer|
|917|    Jessey|  Panting|jpantingpg@state....|Female|          917|  Jessey Panting|   Genderqueer|         58|    74170 Nelson Way|   Nashville|    Tennessee|              37220|  United States|       2023-08-22|     10/14/2023|       4016.36|           816.55|     329815.95|       Auto|            Quire|  Jessey Panting|jpantingpg@blogs.com|+1 (615) 257-3106|    Approved|2022-09-29|     4838.33|Sed ante. Vivamus...|       Pending|  2022-06-03|         698.4|         Check|
|533|   Fremont| Baversor| fbaversores@com.com|Female|          533|Fremont Baversor|          Male|         19|       167 Lien Road|        Lima|         Ohio|              45807|  United States|       2023-10-23|     03/13/2023|       1484.06|          2885.32|      377748.2|     Health|             Yotz|Fremont Baversor|fbaversores@studi...|+1 (419) 509-1666|    Approved|2022-12-17|     7629.76|Quisque id justo ...|          Paid|  2022-09-12|        515.01| Bank Transfer|
|677|    Cathie|Kingsford|ckingsfordis@usgs...|  Male|          677|Cathie Kingsford|        Female|         40|596 Loeprich Junc...|    Sarasota|      Florida|              34233|  United States|       2024-01-24|     12/03/2023|        5194.9|          4326.98|     994158.85|       Life|            Jaloo|Cathie Kingsford|ckingsfordis@yell...|+1 (941) 606-1916|    Approved|2022-06-17|     8904.59|Duis consequat du...|       Pending|  2022-05-16|         972.9|   Credit Card|
+---+----------+---------+--------------------+------+-------------+----------------+--------------+-----------+--------------------+------------+-------------+-------------------+---------------+-----------------+---------------+--------------+-----------------+--------------+-----------+-----------------+----------------+--------------------+-----------------+------------+----------+------------+--------------------+--------------+------------+--------------+--------------+
only showing top 5 rows

Py4JJavaError: An error occurred while calling o1039.jdbc.
: java.lang.ClassNotFoundException: com.microsoft.sqlserver.jdbc.SQLServerDriver
	at java.base/java.net.URLClassLoader.findClass(URLClassLoader.java:445)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:588)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:521)
	at org.apache.spark.sql.execution.datasources.jdbc.DriverRegistry$.register(DriverRegistry.scala:46)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$1(JDBCOptions.scala:103)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$1$adapted(JDBCOptions.scala:103)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:103)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcOptionsInWrite.<init>(JDBCOptions.scala:254)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcOptionsInWrite.<init>(JDBCOptions.scala:258)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:47)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:48)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:75)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:73)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:84)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:76)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:437)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:85)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:83)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:142)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:869)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:391)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:364)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:251)
	at org.apache.spark.sql.DataFrameWriter.jdbc(DataFrameWriter.scala:766)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:75)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:52)
	at java.base/java.lang.reflect.Method.invoke(Method.java:578)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:1623)

In [42]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, to_date, regexp_extract
from pyspark.sql.types import DoubleType

# Inicia Spark con el archivo .jar del JDBC para conectarse a SQL Server
spark = SparkSession.builder \
    .master("local") \
    .appName("DataCleaning") \
    .config("spark.jars", "C:/spark/jars/mssql-jdbc-10.2.0.jre8.jar")  \
    .getOrCreate()


# Ruta del archivo cargado
file_path = "C:\\Users\\Usuario\\Documents\\WILLIAM\\DOCUMENTOS\\PERSONALES\\MONOKERA\\MOCK_DATA.csv"

# Leer el archivo CSV y asegurarse de que tiene encabezado y tipo de datos inferido
data_3 = spark.read.csv(file_path, header=True, inferSchema=True)

# Verificar los nombres de las columnas
print("Column names: ", data_3.columns)

# Limpiar la columna 'id' para extraer solo los números (si están en el formato esperado)
# Usamos expresiones regulares para extraer solo la parte numérica
data_3 = data_3.withColumn('id', regexp_extract(col('id'), r'\d+', 0))

# Filtrar filas donde 'id' no es nulo y contiene solo números
data_3_cleaned = data_3.filter(col('id').rlike('^\d+$'))

# Verificar si las columnas de fecha existen y convertirlas al formato correcto
date_columns = ["claim_date", "payment_date"]
for col_name in date_columns:
    if col_name in data_3_cleaned.columns:
        data_3_cleaned = data_3_cleaned.withColumn(col_name, to_date(col(col_name), "M/d/yyyy"))
    else:
        print(f"Columna '{col_name}' no encontrada")

# Manejo de valores nulos
# Rellenar valores nulos con valores predeterminados
data_cleaned = data_3_cleaned.fillna({
    "insured_age": 0,
    "insured_gender": "Unknown",
    "claim_status": "Unknown",
    "payment_status": "Unknown",
    "payment_method": "Unknown"
})

# Convertir columnas numéricas relevantes a tipos adecuados
numeric_columns = ["claim_amount", "payment_amount"]
for col_name in numeric_columns:
    if col_name in data_cleaned.columns:
        data_cleaned = data_cleaned.withColumn(col_name, col(col_name).cast(DoubleType()))
    else:
        print(f"Columna '{col_name}' no encontrada para conversión a tipo numérico")

# Eliminar duplicados antes de insertar (especialmente para claves primarias)
data_cleaned = data_cleaned.dropDuplicates()

# Mostrar las primeras filas después de limpieza
data_cleaned.show(5)

# **CONEXIÓN A SQL SERVER Y ESCRITURA DE DATOS**

# Configuración de la conexión a SQL Server
jdbc_url = "jdbc:sqlserver://LAPTOP-O07NV287:1433;databaseName=monokera"
properties = {
    "user": "williamxlr",
    "password": "Al3xW$1978",
    "driver": "com.microsoft.sqlserver.jdbc.SQLServerDriver"
}

# **1. Insertar en la tabla 'Policy'**
policy_data = data_cleaned.select("policy_number", "policy_start_date", "policy_end_date", "policy_type", "insurance_company")
# Verificar duplicados antes de insertar en 'Policy'
policy_data = policy_data.dropDuplicates(["policy_number"])
policy_data.write.jdbc(url=jdbc_url, table="Policy", mode="overwrite", properties=properties)

# **2. Insertar en la tabla 'Insured'**
insured_data = data_cleaned.select("insured_id", "policy_number", "insured_name", "insured_gender", "insured_age",
                                   "insured_address", "insured_city", "insured_state", "insured_postal_code", "insured_country")
# Verificar duplicados antes de insertar en 'Insured'
insured_data = insured_data.dropDuplicates(["insured_id"])
insured_data.write.jdbc(url=jdbc_url, table="Insured", mode="overwrite", properties=properties)

# **3. Insertar en la tabla 'Premium'**
premium_data = data_cleaned.select("policy_number", "premium_amount", "deductible_amount", "coverage_limit")
# Verificar duplicados antes de insertar en 'Premium'
premium_data = premium_data.dropDuplicates(["policy_number"])
premium_data.write.jdbc(url=jdbc_url, table="Premium", mode="overwrite", properties=properties)

# **4. Insertar en la tabla 'Payments'**
payments_data = data_cleaned.select("policy_number", "payment_status", "payment_date", "payment_amount", "payment_method")
# Verificar duplicados antes de insertar en 'Payments'
payments_data = payments_data.dropDuplicates(["policy_number", "payment_date"])  # Asumir que una combinación de estos es única
payments_data.write.jdbc(url=jdbc_url, table="Payments", mode="overwrite", properties=properties)

# **5. Insertar en la tabla 'Claims'**
claims_data = data_cleaned.select("policy_number", "claim_status", "claim_date", "claim_amount", "claim_description")
# Verificar duplicados antes de insertar en 'Claims'
claims_data = claims_data.dropDuplicates(["policy_number", "claim_date"])
claims_data.write.jdbc(url=jdbc_url, table="Claims", mode="overwrite", properties=properties)

# **6. Insertar en la tabla 'Agents'**
agents_data = data_cleaned.select("policy_number", "agent_name", "agent_email", "agent_phone")
# Verificar duplicados antes de insertar en 'Agents'
agents_data = agents_data.dropDuplicates(["agent_email"])  # Suponiendo que el correo electrónico es único
agents_data.write.jdbc(url=jdbc_url, table="Agents", mode="overwrite", properties=properties)

Column names:  ['id', 'first_name', 'last_name', 'email', 'gender', 'policy_number', 'insured_name', 'insured_gender', 'insured_age', 'insured_address', 'insured_city', 'insured_state', 'insured_postal_code', 'insured_country', 'policy_start_date', 'policy_end_date', 'premium_amount', 'deductible_amount', 'coverage_limit', 'policy_type', 'insurance_company', 'agent_name', 'agent_email', 'agent_phone', 'claim_status', 'claim_date', 'claim_amount', 'claim_description', 'payment_status', 'payment_date', 'payment_amount', 'payment_method']
+---+----------+---------+--------------------+------+-------------+----------------+--------------+-----------+--------------------+------------+-------------+-------------------+---------------+-----------------+---------------+--------------+-----------------+--------------+-----------+-----------------+----------------+--------------------+-----------------+------------+----------+------------+--------------------+--------------+------------+--------------+--------------+
| id|first_name|last_name|               email|gender|policy_number|    insured_name|insured_gender|insured_age|     insured_address|insured_city|insured_state|insured_postal_code|insured_country|policy_start_date|policy_end_date|premium_amount|deductible_amount|coverage_limit|policy_type|insurance_company|      agent_name|         agent_email|      agent_phone|claim_status|claim_date|claim_amount|   claim_description|payment_status|payment_date|payment_amount|payment_method|
+---+----------+---------+--------------------+------+-------------+----------------+--------------+-----------+--------------------+------------+-------------+-------------------+---------------+-----------------+---------------+--------------+-----------------+--------------+-----------+-----------------+----------------+--------------------+-----------------+------------+----------+------------+--------------------+--------------+------------+--------------+--------------+
|293|     Lorne|    Denne| ldenne84@smh.com.au|  Male|          293|     Lorne Denne|          Male|         33|28393 Goodland Cr...|   Davenport|         Iowa|              52804|  United States|       2023-06-19|     01/11/2024|       2251.36|           638.48|     351587.59|       Home|         Linkbuzz|     Lorne Denne|ldenne84@shop-pro.jp|+1 (563) 596-5970|    Approved|2022-10-26|     3695.83|Etiam vel augue. ...|       Pending|  2022-06-01|        447.76|         Check|
|915|    Ralina|    Gabel|rgabelpe@vkontakt...|  Male|          915|    Ralina Gabel|        Female|          0|9844 Claremont Av...| Springfield|     Missouri|              65898|  United States|       2023-02-08|     08/19/2023|       5412.31|          3491.01|      551417.7|       Life|           Zoozzy|    Ralina Gabel|    rgabelpe@mlb.com|+1 (417) 562-6585|     Pending|2022-01-24|     8411.61|Aenean lectus. Pe...|          Paid|  2022-10-06|        748.59| Bank Transfer|
|917|    Jessey|  Panting|jpantingpg@state....|Female|          917|  Jessey Panting|   Genderqueer|         58|    74170 Nelson Way|   Nashville|    Tennessee|              37220|  United States|       2023-08-22|     10/14/2023|       4016.36|           816.55|     329815.95|       Auto|            Quire|  Jessey Panting|jpantingpg@blogs.com|+1 (615) 257-3106|    Approved|2022-09-29|     4838.33|Sed ante. Vivamus...|       Pending|  2022-06-03|         698.4|         Check|
|533|   Fremont| Baversor| fbaversores@com.com|Female|          533|Fremont Baversor|          Male|         19|       167 Lien Road|        Lima|         Ohio|              45807|  United States|       2023-10-23|     03/13/2023|       1484.06|          2885.32|      377748.2|     Health|             Yotz|Fremont Baversor|fbaversores@studi...|+1 (419) 509-1666|    Approved|2022-12-17|     7629.76|Quisque id justo ...|          Paid|  2022-09-12|        515.01| Bank Transfer|
|677|    Cathie|Kingsford|ckingsfordis@usgs...|  Male|          677|Cathie Kingsford|        Female|         40|596 Loeprich Junc...|    Sarasota|      Florida|              34233|  United States|       2024-01-24|     12/03/2023|        5194.9|          4326.98|     994158.85|       Life|            Jaloo|Cathie Kingsford|ckingsfordis@yell...|+1 (941) 606-1916|    Approved|2022-06-17|     8904.59|Duis consequat du...|       Pending|  2022-05-16|         972.9|   Credit Card|
+---+----------+---------+--------------------+------+-------------+----------------+--------------+-----------+--------------------+------------+-------------+-------------------+---------------+-----------------+---------------+--------------+-----------------+--------------+-----------+-----------------+----------------+--------------------+-----------------+------------+----------+------------+--------------------+--------------+------------+--------------+--------------+
only showing top 5 rows

Py4JJavaError: An error occurred while calling o1289.jdbc.
: java.lang.ClassNotFoundException: com.microsoft.sqlserver.jdbc.SQLServerDriver
	at java.base/java.net.URLClassLoader.findClass(URLClassLoader.java:445)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:588)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:521)
	at org.apache.spark.sql.execution.datasources.jdbc.DriverRegistry$.register(DriverRegistry.scala:46)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$1(JDBCOptions.scala:103)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$1$adapted(JDBCOptions.scala:103)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:103)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcOptionsInWrite.<init>(JDBCOptions.scala:254)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcOptionsInWrite.<init>(JDBCOptions.scala:258)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:47)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:48)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:75)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:73)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:84)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:76)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:437)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:85)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:83)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:142)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:869)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:391)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:364)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:251)
	at org.apache.spark.sql.DataFrameWriter.jdbc(DataFrameWriter.scala:766)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:75)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:52)
	at java.base/java.lang.reflect.Method.invoke(Method.java:578)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:1623)

In [43]:
import pandas as pd
import pymssql
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, to_date, regexp_extract
from pyspark.sql.types import DoubleType

# Inicializa la sesión de Spark
spark = SparkSession.builder.master("local").appName("DataCleaning").getOrCreate()

# Ruta del archivo cargado
file_path = "C:\\Users\\Usuario\\Documents\\WILLIAM\\DOCUMENTOS\\PERSONALES\\MONOKERA\\MOCK_DATA.csv"

# Leer el archivo CSV y asegurarse de que tiene encabezado y tipo de datos inferido
data_3 = spark.read.csv(file_path, header=True, inferSchema=True)

# Verificar los nombres de las columnas
print("Column names: ", data_3.columns)

# Limpiar la columna 'id' para extraer solo los números (si están en el formato esperado)
data_3 = data_3.withColumn('id', regexp_extract(col('id'), r'\d+', 0))

# Filtrar filas donde 'id' no es nulo y contiene solo números
data_3_cleaned = data_3.filter(col('id').rlike('^\d+$'))

# Verificar si las columnas de fecha existen y convertirlas al formato correcto
date_columns = ["claim_date", "payment_date"]
for col_name in date_columns:
    if col_name in data_3_cleaned.columns:
        data_3_cleaned = data_3_cleaned.withColumn(col_name, to_date(col(col_name), "M/d/yyyy"))
    else:
        print(f"Columna '{col_name}' no encontrada")

# Manejo de valores nulos
# Rellenar valores nulos con valores predeterminados
data_cleaned = data_3_cleaned.fillna({
    "insured_age": 0,
    "insured_gender": "Unknown",
    "claim_status": "Unknown",
    "payment_status": "Unknown",
    "payment_method": "Unknown"
})

# Convertir columnas numéricas relevantes a tipos adecuados
numeric_columns = ["claim_amount", "payment_amount"]
for col_name in numeric_columns:
    if col_name in data_cleaned.columns:
        data_cleaned = data_cleaned.withColumn(col_name, col(col_name).cast(DoubleType()))
    else:
        print(f"Columna '{col_name}' no encontrada para conversión a tipo numérico")

# Eliminar duplicados antes de insertar (especialmente para claves primarias)
data_cleaned = data_cleaned.dropDuplicates()

# Mostrar las primeras filas después de limpieza
data_cleaned.show(5)

# **CONEXIÓN A SQL SERVER CON pymssql Y ESCRITURA DE DATOS**

# Configuración de la conexión a SQL Server
server = "LAPTOP-O07NV287"  # Nombre del servidor
database = "monokera"  # Nombre de la base de datos
username = "williamxlr"  # Usuario
password = "Al3xW$1978"  # Contraseña

# Conectar a la base de datos usando pymssql
conn = pymssql.connect(server=server, user=username, password=password, database=database)
cursor = conn.cursor()

# **1. Insertar en la tabla 'Policy'**
policy_data = data_cleaned.select("policy_number", "policy_start_date", "policy_end_date", "policy_type", "insurance_company")
policy_data = policy_data.dropDuplicates(["policy_number"])

for row in policy_data.collect():
    cursor.execute("""
        INSERT INTO Policy (policy_number, policy_start_date, policy_end_date, policy_type, insurance_company)
        VALUES (%s, %s, %s, %s, %s)
    """, (row['policy_number'], row['policy_start_date'], row['policy_end_date'], row['policy_type'], row['insurance_company']))

# **2. Insertar en la tabla 'Insured'**
insured_data = data_cleaned.select("insured_id", "policy_number", "insured_name", "insured_gender", "insured_age",
                                   "insured_address", "insured_city", "insured_state", "insured_postal_code", "insured_country")
insured_data = insured_data.dropDuplicates(["insured_id"])

for row in insured_data.collect():
    cursor.execute("""
        INSERT INTO Insured (insured_id, policy_number, insured_name, insured_gender, insured_age, insured_address, insured_city, insured_state, insured_postal_code, insured_country)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """, (row['insured_id'], row['policy_number'], row['insured_name'], row['insured_gender'], row['insured_age'],
          row['insured_address'], row['insured_city'], row['insured_state'], row['insured_postal_code'], row['insured_country']))

# **3. Insertar en la tabla 'Premium'**
premium_data = data_cleaned.select("policy_number", "premium_amount", "deductible_amount", "coverage_limit")
premium_data = premium_data.dropDuplicates(["policy_number"])

for row in premium_data.collect():
    cursor.execute("""
        INSERT INTO Premium (policy_number, premium_amount, deductible_amount, coverage_limit)
        VALUES (%s, %s, %s, %s)
    """, (row['policy_number'], row['premium_amount'], row['deductible_amount'], row['coverage_limit']))

# **4. Insertar en la tabla 'Payments'**
payments_data = data_cleaned.select("policy_number", "payment_status", "payment_date", "payment_amount", "payment_method")
payments_data = payments_data.dropDuplicates(["policy_number", "payment_date"])

for row in payments_data.collect():
    cursor.execute("""
        INSERT INTO Payments (policy_number, payment_status, payment_date, payment_amount, payment_method)
        VALUES (%s, %s, %s, %s, %s)
    """, (row['policy_number'], row['payment_status'], row['payment_date'], row['payment_amount'], row['payment_method']))

# **5. Insertar en la tabla 'Claims'**
claims_data = data_cleaned.select("policy_number", "claim_status", "claim_date", "claim_amount", "claim_description")
claims_data = claims_data.dropDuplicates(["policy_number", "claim_date"])

for row in claims_data.collect():
    cursor.execute("""
        INSERT INTO Claims (policy_number, claim_status, claim_date, claim_amount, claim_description)
        VALUES (%s, %s, %s, %s, %s)
    """, (row['policy_number'], row['claim_status'], row['claim_date'], row['claim_amount'], row['claim_description']))

# **6. Insertar en la tabla 'Agents'**
agents_data = data_cleaned.select("policy_number", "agent_name", "agent_email", "agent_phone")
agents_data = agents_data.dropDuplicates(["agent_email"])

for row in agents_data.collect():
    cursor.execute("""
        INSERT INTO Agents (policy_number, agent_name, agent_email, agent_phone)
        VALUES (%s, %s, %s, %s)
    """, (row['policy_number'], row['agent_name'], row['agent_email'], row['agent_phone']))

# Confirmar los cambios y cerrar la conexión
conn.commit()
cursor.close()
conn.close()

Column names:  ['id', 'first_name', 'last_name', 'email', 'gender', 'policy_number', 'insured_name', 'insured_gender', 'insured_age', 'insured_address', 'insured_city', 'insured_state', 'insured_postal_code', 'insured_country', 'policy_start_date', 'policy_end_date', 'premium_amount', 'deductible_amount', 'coverage_limit', 'policy_type', 'insurance_company', 'agent_name', 'agent_email', 'agent_phone', 'claim_status', 'claim_date', 'claim_amount', 'claim_description', 'payment_status', 'payment_date', 'payment_amount', 'payment_method']
+---+----------+---------+--------------------+------+-------------+----------------+--------------+-----------+--------------------+------------+-------------+-------------------+---------------+-----------------+---------------+--------------+-----------------+--------------+-----------+-----------------+----------------+--------------------+-----------------+------------+----------+------------+--------------------+--------------+------------+--------------+--------------+
| id|first_name|last_name|               email|gender|policy_number|    insured_name|insured_gender|insured_age|     insured_address|insured_city|insured_state|insured_postal_code|insured_country|policy_start_date|policy_end_date|premium_amount|deductible_amount|coverage_limit|policy_type|insurance_company|      agent_name|         agent_email|      agent_phone|claim_status|claim_date|claim_amount|   claim_description|payment_status|payment_date|payment_amount|payment_method|
+---+----------+---------+--------------------+------+-------------+----------------+--------------+-----------+--------------------+------------+-------------+-------------------+---------------+-----------------+---------------+--------------+-----------------+--------------+-----------+-----------------+----------------+--------------------+-----------------+------------+----------+------------+--------------------+--------------+------------+--------------+--------------+
|293|     Lorne|    Denne| ldenne84@smh.com.au|  Male|          293|     Lorne Denne|          Male|         33|28393 Goodland Cr...|   Davenport|         Iowa|              52804|  United States|       2023-06-19|     01/11/2024|       2251.36|           638.48|     351587.59|       Home|         Linkbuzz|     Lorne Denne|ldenne84@shop-pro.jp|+1 (563) 596-5970|    Approved|2022-10-26|     3695.83|Etiam vel augue. ...|       Pending|  2022-06-01|        447.76|         Check|
|915|    Ralina|    Gabel|rgabelpe@vkontakt...|  Male|          915|    Ralina Gabel|        Female|          0|9844 Claremont Av...| Springfield|     Missouri|              65898|  United States|       2023-02-08|     08/19/2023|       5412.31|          3491.01|      551417.7|       Life|           Zoozzy|    Ralina Gabel|    rgabelpe@mlb.com|+1 (417) 562-6585|     Pending|2022-01-24|     8411.61|Aenean lectus. Pe...|          Paid|  2022-10-06|        748.59| Bank Transfer|
|917|    Jessey|  Panting|jpantingpg@state....|Female|          917|  Jessey Panting|   Genderqueer|         58|    74170 Nelson Way|   Nashville|    Tennessee|              37220|  United States|       2023-08-22|     10/14/2023|       4016.36|           816.55|     329815.95|       Auto|            Quire|  Jessey Panting|jpantingpg@blogs.com|+1 (615) 257-3106|    Approved|2022-09-29|     4838.33|Sed ante. Vivamus...|       Pending|  2022-06-03|         698.4|         Check|
|533|   Fremont| Baversor| fbaversores@com.com|Female|          533|Fremont Baversor|          Male|         19|       167 Lien Road|        Lima|         Ohio|              45807|  United States|       2023-10-23|     03/13/2023|       1484.06|          2885.32|      377748.2|     Health|             Yotz|Fremont Baversor|fbaversores@studi...|+1 (419) 509-1666|    Approved|2022-12-17|     7629.76|Quisque id justo ...|          Paid|  2022-09-12|        515.01| Bank Transfer|
|677|    Cathie|Kingsford|ckingsfordis@usgs...|  Male|          677|Cathie Kingsford|        Female|         40|596 Loeprich Junc...|    Sarasota|      Florida|              34233|  United States|       2024-01-24|     12/03/2023|        5194.9|          4326.98|     994158.85|       Life|            Jaloo|Cathie Kingsford|ckingsfordis@yell...|+1 (941) 606-1916|    Approved|2022-06-17|     8904.59|Duis consequat du...|       Pending|  2022-05-16|         972.9|   Credit Card|
+---+----------+---------+--------------------+------+-------------+----------------+--------------+-----------+--------------------+------------+-------------+-------------------+---------------+-----------------+---------------+--------------+-----------------+--------------+-----------+-----------------+----------------+--------------------+-----------------+------------+----------+------------+--------------------+--------------+------------+--------------+--------------+
only showing top 5 rows

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `insured_id` cannot be resolved. Did you mean one of the following? [`insured_age`, `insured_city`, `insured_name`, `insured_gender`, `insured_state`].;
'Project ['insured_id, policy_number#13060, insured_name#13061, insured_gender#13251, insured_age#13252, insured_address#13064, insured_city#13065, insured_state#13066, insured_postal_code#13067, insured_country#13068]
+- Deduplicate [agent_email#13077, claim_description#13082, insurance_company#13075, first_name#13056, insured_age#13252, email#13058, coverage_limit#13073, insured_name#13061, agent_name#13076, claim_date#13153, insured_city#13065, payment_date#13186, claim_status#13253, insured_country#13068, insured_address#13064, insured_state#13066, payment_method#13255, payment_status#13254, id#13119, policy_type#13074, last_name#13057, policy_end_date#13070, insured_gender#13251, policy_start_date#13069, ... 8 more fields]
   +- Project [id#13119, first_name#13056, last_name#13057, email#13058, gender#13059, policy_number#13060, insured_name#13061, insured_gender#13251, insured_age#13252, insured_address#13064, insured_city#13065, insured_state#13066, insured_postal_code#13067, insured_country#13068, policy_start_date#13069, policy_end_date#13070, premium_amount#13071, deductible_amount#13072, coverage_limit#13073, policy_type#13074, insurance_company#13075, agent_name#13076, agent_email#13077, agent_phone#13078, ... 8 more fields]
      +- Project [id#13119, first_name#13056, last_name#13057, email#13058, gender#13059, policy_number#13060, insured_name#13061, insured_gender#13251, insured_age#13252, insured_address#13064, insured_city#13065, insured_state#13066, insured_postal_code#13067, insured_country#13068, policy_start_date#13069, policy_end_date#13070, premium_amount#13071, deductible_amount#13072, coverage_limit#13073, policy_type#13074, insurance_company#13075, agent_name#13076, agent_email#13077, agent_phone#13078, ... 8 more fields]
         +- Project [id#13119, first_name#13056, last_name#13057, email#13058, gender#13059, policy_number#13060, insured_name#13061, coalesce(insured_gender#13062, cast(Unknown as string)) AS insured_gender#13251, coalesce(insured_age#13063, cast(0 as string)) AS insured_age#13252, insured_address#13064, insured_city#13065, insured_state#13066, insured_postal_code#13067, insured_country#13068, policy_start_date#13069, policy_end_date#13070, premium_amount#13071, deductible_amount#13072, coverage_limit#13073, policy_type#13074, insurance_company#13075, agent_name#13076, agent_email#13077, agent_phone#13078, ... 8 more fields]
            +- Project [id#13119, first_name#13056, last_name#13057, email#13058, gender#13059, policy_number#13060, insured_name#13061, insured_gender#13062, insured_age#13063, insured_address#13064, insured_city#13065, insured_state#13066, insured_postal_code#13067, insured_country#13068, policy_start_date#13069, policy_end_date#13070, premium_amount#13071, deductible_amount#13072, coverage_limit#13073, policy_type#13074, insurance_company#13075, agent_name#13076, agent_email#13077, agent_phone#13078, ... 8 more fields]
               +- Project [id#13119, first_name#13056, last_name#13057, email#13058, gender#13059, policy_number#13060, insured_name#13061, insured_gender#13062, insured_age#13063, insured_address#13064, insured_city#13065, insured_state#13066, insured_postal_code#13067, insured_country#13068, policy_start_date#13069, policy_end_date#13070, premium_amount#13071, deductible_amount#13072, coverage_limit#13073, policy_type#13074, insurance_company#13075, agent_name#13076, agent_email#13077, agent_phone#13078, ... 8 more fields]
                  +- Filter RLIKE(id#13119, ^\d+$)
                     +- Project [regexp_extract(id#13055, \d+, 0) AS id#13119, first_name#13056, last_name#13057, email#13058, gender#13059, policy_number#13060, insured_name#13061, insured_gender#13062, insured_age#13063, insured_address#13064, insured_city#13065, insured_state#13066, insured_postal_code#13067, insured_country#13068, policy_start_date#13069, policy_end_date#13070, premium_amount#13071, deductible_amount#13072, coverage_limit#13073, policy_type#13074, insurance_company#13075, agent_name#13076, agent_email#13077, agent_phone#13078, ... 8 more fields]
                        +- Relation [id#13055,first_name#13056,last_name#13057,email#13058,gender#13059,policy_number#13060,insured_name#13061,insured_gender#13062,insured_age#13063,insured_address#13064,insured_city#13065,insured_state#13066,insured_postal_code#13067,insured_country#13068,policy_start_date#13069,policy_end_date#13070,premium_amount#13071,deductible_amount#13072,coverage_limit#13073,policy_type#13074,insurance_company#13075,agent_name#13076,agent_email#13077,agent_phone#13078,... 8 more fields] csv

In [44]:
import pandas as pd
import pymssql
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, to_date, regexp_extract
from pyspark.sql.types import DoubleType

# Inicializa la sesión de Spark
spark = SparkSession.builder.master("local").appName("DataCleaning").getOrCreate()

# Ruta del archivo cargado
file_path = "C:\\Users\\Usuario\\Documents\\WILLIAM\\DOCUMENTOS\\PERSONALES\\MONOKERA\\MOCK_DATA.csv"

# Leer el archivo CSV y asegurarse de que tiene encabezado y tipo de datos inferido
data_3 = spark.read.csv(file_path, header=True, inferSchema=True)

# Verificar los nombres de las columnas
print("Column names: ", data_3.columns)

# Limpiar la columna 'id' para extraer solo los números (si están en el formato esperado)
data_3 = data_3.withColumn('id', regexp_extract(col('id'), r'\d+', 0))

# Filtrar filas donde 'id' no es nulo y contiene solo números
data_3_cleaned = data_3.filter(col('id').rlike('^\d+$'))

# Verificar si las columnas de fecha existen y convertirlas al formato correcto
date_columns = ["claim_date", "payment_date"]
for col_name in date_columns:
    if col_name in data_3_cleaned.columns:
        data_3_cleaned = data_3_cleaned.withColumn(col_name, to_date(col(col_name), "M/d/yyyy"))
    else:
        print(f"Columna '{col_name}' no encontrada")

# Manejo de valores nulos
# Rellenar valores nulos con valores predeterminados
data_cleaned = data_3_cleaned.fillna({
    "insured_age": 0,
    "insured_gender": "Unknown",
    "claim_status": "Unknown",
    "payment_status": "Unknown",
    "payment_method": "Unknown"
})

# Convertir columnas numéricas relevantes a tipos adecuados
numeric_columns = ["claim_amount", "payment_amount"]
for col_name in numeric_columns:
    if col_name in data_cleaned.columns:
        data_cleaned = data_cleaned.withColumn(col_name, col(col_name).cast(DoubleType()))
    else:
        print(f"Columna '{col_name}' no encontrada para conversión a tipo numérico")

# Eliminar duplicados antes de insertar (especialmente para claves primarias)
data_cleaned = data_cleaned.dropDuplicates()

# Mostrar las primeras filas después de limpieza
data_cleaned.show(5)

# **CONEXIÓN A SQL SERVER CON pymssql Y ESCRITURA DE DATOS**

# Configuración de la conexión a SQL Server
server = "LAPTOP-O07NV287"  # Nombre del servidor
database = "monokera"  # Nombre de la base de datos
username = "williamxlr"  # Usuario
password = "Al3xW$1978"  # Contraseña

# Conectar a la base de datos usando pymssql
conn = pymssql.connect(server=server, user=username, password=password, database=database)
cursor = conn.cursor()

# **1. Insertar en la tabla 'Policy'**
policy_data = data_cleaned.select("policy_number", "policy_start_date", "policy_end_date", "policy_type", "insurance_company")
policy_data = policy_data.dropDuplicates(["policy_number"])

for row in policy_data.collect():
    cursor.execute("""
        INSERT INTO Policy (policy_number, policy_start_date, policy_end_date, policy_type, insurance_company)
        VALUES (%s, %s, %s, %s, %s)
    """, (row['policy_number'], row['policy_start_date'], row['policy_end_date'], row['policy_type'], row['insurance_company']))

# **2. Insertar en la tabla 'Insured'**
insured_data = data_cleaned.select("insured_id", "policy_number", "insured_name", "insured_gender", "insured_age",
                                   "insured_address", "insured_city", "insured_state", "insured_postal_code", "insured_country")
insured_data = insured_data.dropDuplicates(["insured_id"])

for row in insured_data.collect():
    cursor.execute("""
        INSERT INTO Insured (insured_id, policy_number, insured_name, insured_gender, insured_age, insured_address, insured_city, insured_state, insured_postal_code, insured_country)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """, (row['insured_id'], row['policy_number'], row['insured_name'], row['insured_gender'], row['insured_age'],
          row['insured_address'], row['insured_city'], row['insured_state'], row['insured_postal_code'], row['insured_country']))

# **3. Insertar en la tabla 'Premium'**
premium_data = data_cleaned.select("policy_number", "premium_amount", "deductible_amount", "coverage_limit")
premium_data = premium_data.dropDuplicates(["policy_number"])

for row in premium_data.collect():
    cursor.execute("""
        INSERT INTO Premium (policy_number, premium_amount, deductible_amount, coverage_limit)
        VALUES (%s, %s, %s, %s)
    """, (row['policy_number'], row['premium_amount'], row['deductible_amount'], row['coverage_limit']))

# **4. Insertar en la tabla 'Payments'**
payments_data = data_cleaned.select("policy_number", "payment_status", "payment_date", "payment_amount", "payment_method")
payments_data = payments_data.dropDuplicates(["policy_number", "payment_date"])

for row in payments_data.collect():
    cursor.execute("""
        INSERT INTO Payments (policy_number, payment_status, payment_date, payment_amount, payment_method)
        VALUES (%s, %s, %s, %s, %s)
    """, (row['policy_number'], row['payment_status'], row['payment_date'], row['payment_amount'], row['payment_method']))

# **5. Insertar en la tabla 'Claims'**
claims_data = data_cleaned.select("policy_number", "claim_status", "claim_date", "claim_amount", "claim_description")
claims_data = claims_data.dropDuplicates(["policy_number", "claim_date"])

for row in claims_data.collect():
    cursor.execute("""
        INSERT INTO Claims (policy_number, claim_status, claim_date, claim_amount, claim_description)
        VALUES (%s, %s, %s, %s, %s)
    """, (row['policy_number'], row['claim_status'], row['claim_date'], row['claim_amount'], row['claim_description']))

# **6. Insertar en la tabla 'Agents'**
agents_data = data_cleaned.select("policy_number", "agent_name", "agent_email", "agent_phone")
agents_data = agents_data.dropDuplicates(["agent_email"])

for row in agents_data.collect():
    cursor.execute("""
        INSERT INTO Agents (policy_number, agent_name, agent_email, agent_phone)
        VALUES (%s, %s, %s, %s)
    """, (row['policy_number'], row['agent_name'], row['agent_email'], row['agent_phone']))

# Confirmar los cambios y cerrar la conexión
conn.commit()
cursor.close()
conn.close()

Column names:  ['id', 'first_name', 'last_name', 'email', 'gender', 'policy_number', 'insured_name', 'insured_gender', 'insured_age', 'insured_address', 'insured_city', 'insured_state', 'insured_postal_code', 'insured_country', 'policy_start_date', 'policy_end_date', 'premium_amount', 'deductible_amount', 'coverage_limit', 'policy_type', 'insurance_company', 'agent_name', 'agent_email', 'agent_phone', 'claim_status', 'claim_date', 'claim_amount', 'claim_description', 'payment_status', 'payment_date', 'payment_amount', 'payment_method']
+---+----------+---------+--------------------+------+-------------+----------------+--------------+-----------+--------------------+------------+-------------+-------------------+---------------+-----------------+---------------+--------------+-----------------+--------------+-----------+-----------------+----------------+--------------------+-----------------+------------+----------+------------+--------------------+--------------+------------+--------------+--------------+
| id|first_name|last_name|               email|gender|policy_number|    insured_name|insured_gender|insured_age|     insured_address|insured_city|insured_state|insured_postal_code|insured_country|policy_start_date|policy_end_date|premium_amount|deductible_amount|coverage_limit|policy_type|insurance_company|      agent_name|         agent_email|      agent_phone|claim_status|claim_date|claim_amount|   claim_description|payment_status|payment_date|payment_amount|payment_method|
+---+----------+---------+--------------------+------+-------------+----------------+--------------+-----------+--------------------+------------+-------------+-------------------+---------------+-----------------+---------------+--------------+-----------------+--------------+-----------+-----------------+----------------+--------------------+-----------------+------------+----------+------------+--------------------+--------------+------------+--------------+--------------+
|293|     Lorne|    Denne| ldenne84@smh.com.au|  Male|          293|     Lorne Denne|          Male|         33|28393 Goodland Cr...|   Davenport|         Iowa|              52804|  United States|       2023-06-19|     01/11/2024|       2251.36|           638.48|     351587.59|       Home|         Linkbuzz|     Lorne Denne|ldenne84@shop-pro.jp|+1 (563) 596-5970|    Approved|2022-10-26|     3695.83|Etiam vel augue. ...|       Pending|  2022-06-01|        447.76|         Check|
|915|    Ralina|    Gabel|rgabelpe@vkontakt...|  Male|          915|    Ralina Gabel|        Female|          0|9844 Claremont Av...| Springfield|     Missouri|              65898|  United States|       2023-02-08|     08/19/2023|       5412.31|          3491.01|      551417.7|       Life|           Zoozzy|    Ralina Gabel|    rgabelpe@mlb.com|+1 (417) 562-6585|     Pending|2022-01-24|     8411.61|Aenean lectus. Pe...|          Paid|  2022-10-06|        748.59| Bank Transfer|
|917|    Jessey|  Panting|jpantingpg@state....|Female|          917|  Jessey Panting|   Genderqueer|         58|    74170 Nelson Way|   Nashville|    Tennessee|              37220|  United States|       2023-08-22|     10/14/2023|       4016.36|           816.55|     329815.95|       Auto|            Quire|  Jessey Panting|jpantingpg@blogs.com|+1 (615) 257-3106|    Approved|2022-09-29|     4838.33|Sed ante. Vivamus...|       Pending|  2022-06-03|         698.4|         Check|
|533|   Fremont| Baversor| fbaversores@com.com|Female|          533|Fremont Baversor|          Male|         19|       167 Lien Road|        Lima|         Ohio|              45807|  United States|       2023-10-23|     03/13/2023|       1484.06|          2885.32|      377748.2|     Health|             Yotz|Fremont Baversor|fbaversores@studi...|+1 (419) 509-1666|    Approved|2022-12-17|     7629.76|Quisque id justo ...|          Paid|  2022-09-12|        515.01| Bank Transfer|
|677|    Cathie|Kingsford|ckingsfordis@usgs...|  Male|          677|Cathie Kingsford|        Female|         40|596 Loeprich Junc...|    Sarasota|      Florida|              34233|  United States|       2024-01-24|     12/03/2023|        5194.9|          4326.98|     994158.85|       Life|            Jaloo|Cathie Kingsford|ckingsfordis@yell...|+1 (941) 606-1916|    Approved|2022-06-17|     8904.59|Duis consequat du...|       Pending|  2022-05-16|         972.9|   Credit Card|
+---+----------+---------+--------------------+------+-------------+----------------+--------------+-----------+--------------------+------------+-------------+-------------------+---------------+-----------------+---------------+--------------+-----------------+--------------+-----------+-----------------+----------------+--------------------+-----------------+------------+----------+------------+--------------------+--------------+------------+--------------+--------------+
only showing top 5 rows

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `insured_id` cannot be resolved. Did you mean one of the following? [`insured_age`, `insured_city`, `insured_name`, `insured_gender`, `insured_state`].;
'Project ['insured_id, policy_number#13588, insured_name#13589, insured_gender#13779, insured_age#13780, insured_address#13592, insured_city#13593, insured_state#13594, insured_postal_code#13595, insured_country#13596]
+- Deduplicate [agent_email#13605, claim_description#13610, insurance_company#13603, first_name#13584, insured_age#13780, email#13586, coverage_limit#13601, insured_name#13589, agent_name#13604, claim_date#13681, insured_city#13593, payment_date#13714, claim_status#13781, insured_country#13596, insured_address#13592, insured_state#13594, payment_method#13783, payment_status#13782, id#13647, policy_type#13602, last_name#13585, policy_end_date#13598, insured_gender#13779, policy_start_date#13597, ... 8 more fields]
   +- Project [id#13647, first_name#13584, last_name#13585, email#13586, gender#13587, policy_number#13588, insured_name#13589, insured_gender#13779, insured_age#13780, insured_address#13592, insured_city#13593, insured_state#13594, insured_postal_code#13595, insured_country#13596, policy_start_date#13597, policy_end_date#13598, premium_amount#13599, deductible_amount#13600, coverage_limit#13601, policy_type#13602, insurance_company#13603, agent_name#13604, agent_email#13605, agent_phone#13606, ... 8 more fields]
      +- Project [id#13647, first_name#13584, last_name#13585, email#13586, gender#13587, policy_number#13588, insured_name#13589, insured_gender#13779, insured_age#13780, insured_address#13592, insured_city#13593, insured_state#13594, insured_postal_code#13595, insured_country#13596, policy_start_date#13597, policy_end_date#13598, premium_amount#13599, deductible_amount#13600, coverage_limit#13601, policy_type#13602, insurance_company#13603, agent_name#13604, agent_email#13605, agent_phone#13606, ... 8 more fields]
         +- Project [id#13647, first_name#13584, last_name#13585, email#13586, gender#13587, policy_number#13588, insured_name#13589, coalesce(insured_gender#13590, cast(Unknown as string)) AS insured_gender#13779, coalesce(insured_age#13591, cast(0 as string)) AS insured_age#13780, insured_address#13592, insured_city#13593, insured_state#13594, insured_postal_code#13595, insured_country#13596, policy_start_date#13597, policy_end_date#13598, premium_amount#13599, deductible_amount#13600, coverage_limit#13601, policy_type#13602, insurance_company#13603, agent_name#13604, agent_email#13605, agent_phone#13606, ... 8 more fields]
            +- Project [id#13647, first_name#13584, last_name#13585, email#13586, gender#13587, policy_number#13588, insured_name#13589, insured_gender#13590, insured_age#13591, insured_address#13592, insured_city#13593, insured_state#13594, insured_postal_code#13595, insured_country#13596, policy_start_date#13597, policy_end_date#13598, premium_amount#13599, deductible_amount#13600, coverage_limit#13601, policy_type#13602, insurance_company#13603, agent_name#13604, agent_email#13605, agent_phone#13606, ... 8 more fields]
               +- Project [id#13647, first_name#13584, last_name#13585, email#13586, gender#13587, policy_number#13588, insured_name#13589, insured_gender#13590, insured_age#13591, insured_address#13592, insured_city#13593, insured_state#13594, insured_postal_code#13595, insured_country#13596, policy_start_date#13597, policy_end_date#13598, premium_amount#13599, deductible_amount#13600, coverage_limit#13601, policy_type#13602, insurance_company#13603, agent_name#13604, agent_email#13605, agent_phone#13606, ... 8 more fields]
                  +- Filter RLIKE(id#13647, ^\d+$)
                     +- Project [regexp_extract(id#13583, \d+, 0) AS id#13647, first_name#13584, last_name#13585, email#13586, gender#13587, policy_number#13588, insured_name#13589, insured_gender#13590, insured_age#13591, insured_address#13592, insured_city#13593, insured_state#13594, insured_postal_code#13595, insured_country#13596, policy_start_date#13597, policy_end_date#13598, premium_amount#13599, deductible_amount#13600, coverage_limit#13601, policy_type#13602, insurance_company#13603, agent_name#13604, agent_email#13605, agent_phone#13606, ... 8 more fields]
                        +- Relation [id#13583,first_name#13584,last_name#13585,email#13586,gender#13587,policy_number#13588,insured_name#13589,insured_gender#13590,insured_age#13591,insured_address#13592,insured_city#13593,insured_state#13594,insured_postal_code#13595,insured_country#13596,policy_start_date#13597,policy_end_date#13598,premium_amount#13599,deductible_amount#13600,coverage_limit#13601,policy_type#13602,insurance_company#13603,agent_name#13604,agent_email#13605,agent_phone#13606,... 8 more fields] csv

In [46]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, to_date, regexp_extract
from pyspark.sql.types import DoubleType

# Inicializa la sesión de Spark
spark = SparkSession.builder.master("local").appName("DataCleaning").getOrCreate()

# Ruta del archivo cargado
file_path = "C:\\Users\\Usuario\\Documents\\WILLIAM\\DOCUMENTOS\\PERSONALES\\MONOKERA\\MOCK_DATA.csv"

# Leer el archivo CSV y asegurarse de que tiene encabezado y tipo de datos inferido
data_3 = spark.read.csv(file_path, header=True, inferSchema=True)

# Verificar los nombres de las columnas
print("Column names: ", data_3.columns)

# Limpiar la columna 'id' para extraer solo los números (si están en el formato esperado)
# Usamos expresiones regulares para extraer solo la parte numérica
data_3 = data_3.withColumn('id', regexp_extract(col('id'), r'\d+', 0))

# Filtrar filas donde 'id' no es nulo y contiene solo números
data_3_cleaned = data_3.filter(col('id').rlike('^\d+$'))

# Verificar si las columnas de fecha existen y convertirlas al formato correcto
date_columns = ["claim_date", "payment_date"]
for col_name in date_columns:
    if col_name in data_3_cleaned.columns:
        data_3_cleaned = data_3_cleaned.withColumn(col_name, to_date(col(col_name), "M/d/yyyy"))
    else:
        print(f"Columna '{col_name}' no encontrada")

# Manejo de valores nulos
# Rellenar valores nulos con valores predeterminados
data_cleaned = data_3_cleaned.fillna({
    "insured_age": 0,
    "insured_gender": "Unknown",
    "claim_status": "Unknown",
    "payment_status": "Unknown",
    "payment_method": "Unknown"
})

# Convertir columnas numéricas relevantes a tipos adecuados
numeric_columns = ["claim_amount", "payment_amount"]
for col_name in numeric_columns:
    if col_name in data_cleaned.columns:
        data_cleaned = data_cleaned.withColumn(col_name, col(col_name).cast(DoubleType()))
    else:
        print(f"Columna '{col_name}' no encontrada para conversión a tipo numérico")

# Mostrar las primeras filas después de limpieza
data_cleaned.show(5)

# **CONEXIÓN A SQL SERVER Y ESCRITURA DE DATOS**

# Configuración de la conexión a SQL Server
jdbc_url = "jdbc:sqlserver://LAPTOP-O07NV287:1433;databaseName=monokera"
properties = {
    "user": "williamxlr",
    "password": "Al3xW$1978",
    "driver": "com.microsoft.sqlserver.jdbc.SQLServerDriver"
}

# **1. Insertar en la tabla 'Policy'**
# Verificar si las columnas existen
if all(col in data_cleaned.columns for col in ["policy_number", "policy_start_date", "policy_end_date", "policy_type", "insurance_company"]):
    policy_data = data_cleaned.select("policy_number", "policy_start_date", "policy_end_date", "policy_type", "insurance_company")
    policy_data.write.jdbc(url=jdbc_url, table="Policy", mode="append", properties=properties)
else:
    print("Algunas columnas necesarias no existen para la tabla 'Policy'")

# **2. Insertar en la tabla 'Insured'**
# Verificar si las columnas existen
if all(col in data_cleaned.columns for col in ["insured_id", "policy_number", "insured_name", "insured_gender", "insured_age",
                                               "insured_address", "insured_city", "insured_state", "insured_postal_code", "insured_country"]):
    insured_data = data_cleaned.select("insured_id", "policy_number", "insured_name", "insured_gender", "insured_age",
                                       "insured_address", "insured_city", "insured_state", "insured_postal_code", "insured_country")
    insured_data.write.jdbc(url=jdbc_url, table="Insured", mode="append", properties=properties)
else:
    print("Algunas columnas necesarias no existen para la tabla 'Insured'")

# **3. Insertar en la tabla 'Premium'**
# Verificar si las columnas existen
if all(col in data_cleaned.columns for col in ["policy_number", "premium_amount", "deductible_amount", "coverage_limit"]):
    premium_data = data_cleaned.select("policy_number", "premium_amount", "deductible_amount", "coverage_limit")
    premium_data.write.jdbc(url=jdbc_url, table="Premium", mode="append", properties=properties)
else:
    print("Algunas columnas necesarias no existen para la tabla 'Premium'")

# **4. Insertar en la tabla 'Payments'**
# Verificar si las columnas existen
if all(col in data_cleaned.columns for col in ["policy_number", "payment_status", "payment_date", "payment_amount", "payment_method"]):
    payments_data = data_cleaned.select("policy_number", "payment_status", "payment_date", "payment_amount", "payment_method")
    payments_data.write.jdbc(url=jdbc_url, table="Payments", mode="append", properties=properties)
else:
    print("Algunas columnas necesarias no existen para la tabla 'Payments'")

# **5. Insertar en la tabla 'Claims'**
# Verificar si las columnas existen
if all(col in data_cleaned.columns for col in ["policy_number", "claim_status", "claim_date", "claim_amount", "claim_description"]):
    claims_data = data_cleaned.select("policy_number", "claim_status", "claim_date", "claim_amount", "claim_description")
    claims_data.write.jdbc(url=jdbc_url, table="Claims", mode="append", properties=properties)
else:
    print("Algunas columnas necesarias no existen para la tabla 'Claims'")

# **6. Insertar en la tabla 'Agents'**
# Verificar si las columnas existen
if all(col in data_cleaned.columns for col in ["policy_number", "agent_name", "agent_email", "agent_phone"]):
    agents_data = data_cleaned.select("policy_number", "agent_name", "agent_email", "agent_phone")
    agents_data.write.jdbc(url=jdbc_url, table="Agents", mode="append", properties=properties)
else:
    print("Algunas columnas necesarias no existen para la tabla 'Agents'")

Column names:  ['id', 'first_name', 'last_name', 'email', 'gender', 'policy_number', 'insured_name', 'insured_gender', 'insured_age', 'insured_address', 'insured_city', 'insured_state', 'insured_postal_code', 'insured_country', 'policy_start_date', 'policy_end_date', 'premium_amount', 'deductible_amount', 'coverage_limit', 'policy_type', 'insurance_company', 'agent_name', 'agent_email', 'agent_phone', 'claim_status', 'claim_date', 'claim_amount', 'claim_description', 'payment_status', 'payment_date', 'payment_amount', 'payment_method']
+---+----------+-----------+--------------------+------+-------------+-----------------+--------------+-----------+--------------------+-------------+-------------+-------------------+---------------+-----------------+---------------+--------------+-----------------+--------------+-----------+-----------------+-----------------+--------------------+-----------------+------------+----------+------------+--------------------+--------------+------------+--------------+--------------+
| id|first_name|  last_name|               email|gender|policy_number|     insured_name|insured_gender|insured_age|     insured_address| insured_city|insured_state|insured_postal_code|insured_country|policy_start_date|policy_end_date|premium_amount|deductible_amount|coverage_limit|policy_type|insurance_company|       agent_name|         agent_email|      agent_phone|claim_status|claim_date|claim_amount|   claim_description|payment_status|payment_date|payment_amount|payment_method|
+---+----------+-----------+--------------------+------+-------------+-----------------+--------------+-----------+--------------------+-------------+-------------+-------------------+---------------+-----------------+---------------+--------------+-----------------+--------------+-----------+-----------------+-----------------+--------------------+-----------------+------------+----------+------------+--------------------+--------------+------------+--------------+--------------+
|  1|     Bessy|Tomaszynski|btomaszynski0@ici...|  Male|            1|Bessy Tomaszynski|       Unknown|         63|   1 Northland Trail|      Suffolk|     Virginia|               NULL|           NULL|       2023-06-05|     03/13/2023|       7506.95|           263.51|     851969.14|       Home|            Jazzy|Bessy Tomaszynski|btomaszynski0@ale...|+1 (757) 646-3536|    Approved|2022-12-11|      7589.6|Duis bibendum, fe...|       Unknown|        NULL|          NULL|       Unknown|
|  2|      Cher|     Gjerde|  cgjerde1@hexun.com|  NULL|            2|      Cher Gjerde|        Female|         19|     98989 Basil Way|    Pensacola|      Florida|              32526|           NULL|       2023-11-09|     01/24/2023|       1856.49|          4149.44|     138025.78|       Life|      Brainlounge|      Cher Gjerde|  cgjerde1@fotki.com|+1 (850) 302-7531|      Denied|2022-08-20|      5777.0|Quisque id justo ...|       Unknown|        NULL|          NULL|       Unknown|
|  3|  Felicity|     Lowman| flowman2@flavors.me|  Male|            3|  Felicity Lowman|        Female|         43|       2 Derek Place|Pompano Beach|      Florida|              33075|           NULL|       2023-07-21|     05/05/2023|       9799.03|           598.63|     219401.29|       Life|         Realfire|  Felicity Lowman|flowman2@wikispac...|+1 (754) 879-3501|     Pending|2022-05-04|     1684.43|In sagittis dui v...|       Unknown|        NULL|          NULL|       Unknown|
|  4|       Ive|    Jervois|   ijervois3@epa.gov|  Male|            4|      Ive Jervois|          Male|         60|889 Twin Pines Court|       Albany|     New York|              12242|  United States|       2023-08-08|     07/18/2023|        290.53|          4602.64|     669242.87|       Life|      Babblestorm|      Ive Jervois|ijervois3@ebay.co.uk|             NULL|    Approved|2022-08-09|     8160.13|In hac habitasse ...|       Unknown|        NULL|          NULL|       Unknown|
|  5|    Gretal|   Bauckham|gbauckham4@slides...|Female|            5|  Gretal Bauckham|        Female|         29|39745 Clarendon Hill|      Phoenix|      Arizona|               NULL|  United States|       2023-12-24|     03/07/2023|        307.87|          1618.01|     647041.09|       Home|          Tagtune|  Gretal Bauckham|   gbauckham4@goo.gl|+1 (480) 648-4238|    Approved|2022-06-08|     9694.67|Praesent id massa...|       Unknown|        NULL|          NULL|       Unknown|
+---+----------+-----------+--------------------+------+-------------+-----------------+--------------+-----------+--------------------+-------------+-------------+-------------------+---------------+-----------------+---------------+--------------+-----------------+--------------+-----------+-----------------+-----------------+--------------------+-----------------+------------+----------+------------+--------------------+--------------+------------+--------------+--------------+
only showing top 5 rows

Py4JJavaError: An error occurred while calling o1498.jdbc.
: java.lang.ClassNotFoundException: com.microsoft.sqlserver.jdbc.SQLServerDriver
	at java.base/java.net.URLClassLoader.findClass(URLClassLoader.java:445)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:588)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:521)
	at org.apache.spark.sql.execution.datasources.jdbc.DriverRegistry$.register(DriverRegistry.scala:46)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$1(JDBCOptions.scala:103)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$1$adapted(JDBCOptions.scala:103)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:103)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcOptionsInWrite.<init>(JDBCOptions.scala:254)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcOptionsInWrite.<init>(JDBCOptions.scala:258)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:47)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:48)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:75)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:73)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:84)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:76)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:437)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:85)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:83)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:142)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:869)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:391)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:364)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:251)
	at org.apache.spark.sql.DataFrameWriter.jdbc(DataFrameWriter.scala:766)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:75)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:52)
	at java.base/java.lang.reflect.Method.invoke(Method.java:578)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:1623)

In [50]:
import pandas as pd
import pymssql
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, to_date, regexp_extract
from pyspark.sql.types import DoubleType

# Inicializa la sesión de Spark
spark = SparkSession.builder.master("local").appName("DataCleaning").getOrCreate()

# Ruta del archivo cargado
file_path = "C:\\Users\\Usuario\\Documents\\WILLIAM\\DOCUMENTOS\\PERSONALES\\MONOKERA\\MOCK_DATA.csv"

# Leer el archivo CSV y asegurarse de que tiene encabezado y tipo de datos inferido
data_3 = spark.read.csv(file_path, header=True, inferSchema=True)

# Verificar los nombres de las columnas
print("Column names: ", data_3.columns)

# Limpiar la columna 'id' para extraer solo los números (si están en el formato esperado)
data_3 = data_3.withColumn('id', regexp_extract(col('id'), r'\d+', 0))

# Filtrar filas donde 'id' no es nulo y contiene solo números
data_3_cleaned = data_3.filter(col('id').rlike('^\d+$'))

# Verificar si las columnas de fecha existen y convertirlas al formato correcto
date_columns = ["claim_date", "payment_date"]
for col_name in date_columns:
    if col_name in data_3_cleaned.columns:
        data_3_cleaned = data_3_cleaned.withColumn(col_name, to_date(col(col_name), "M/d/yyyy"))
    else:
        print(f"Columna '{col_name}' no encontrada")

# Manejo de valores nulos
data_cleaned = data_3_cleaned.fillna({
    "insured_age": 0,
    "insured_gender": "Unknown",
    "claim_status": "Unknown",
    "payment_status": "Unknown",
    "payment_method": "Unknown"
})

# Convertir columnas numéricas relevantes a tipos adecuados
numeric_columns = ["claim_amount", "payment_amount"]
for col_name in numeric_columns:
    if col_name in data_cleaned.columns:
        data_cleaned = data_cleaned.withColumn(col_name, col(col_name).cast(DoubleType()))
    else:
        print(f"Columna '{col_name}' no encontrada para conversión a tipo numérico")

# Convertir el DataFrame de Spark a Pandas para usar pymssql
data_cleaned_pd = data_cleaned.toPandas()

# **CONEXIÓN A SQL SERVER Y ESCRITURA DE DATOS CON pymssql**

# Establecer la conexión con SQL Server
conn = pymssql.connect(
    server="LAPTOP-O07NV287",  # Dirección del servidor
    user="williamxlr",         # Nombre de usuario
    password="Al3xW$1978",     # Contraseña
    database="monokera"        # Nombre de la base de datos
)

cursor = conn.cursor()

# Función para insertar solo si el registro no existe
def insert_if_not_exists(table, columns, values):
    # Crear consulta para verificar si el registro ya existe
    select_query = f"SELECT COUNT(*) FROM {table} WHERE {columns[0]} = %s"
    cursor.execute(select_query, (values[0],))
    result = cursor.fetchone()
    
    if result[0] == 0:
        # Si no existe, insertar el registro
        insert_query = f"INSERT INTO {table} ({', '.join(columns)}) VALUES ({', '.join(['%s'] * len(values))})"
        cursor.execute(insert_query, values)
        conn.commit()
    else:
        print(f"Registro con {columns[0]} = {values[0]} ya existe en la tabla {table}.")

# **1. Insertar en la tabla 'Policy'**
if all(col in data_cleaned_pd.columns for col in ["policy_number", "policy_start_date", "policy_end_date", "policy_type", "insurance_company"]):
    for _, row in data_cleaned_pd.iterrows():
        insert_if_not_exists(
            "Policy",
            ["policy_number", "policy_start_date", "policy_end_date", "policy_type", "insurance_company"],
            (row['policy_number'], row['policy_start_date'], row['policy_end_date'], row['policy_type'], row['insurance_company'])
        )
else:
    print("Algunas columnas necesarias no existen para la tabla 'Policy'")

# **2. Insertar en la tabla 'Insured'**
if all(col in data_cleaned_pd.columns for col in ["insured_id", "policy_number", "insured_name", "insured_gender", "insured_age",
                                                 "insured_address", "insured_city", "insured_state", "insured_postal_code", "insured_country"]):
    for _, row in data_cleaned_pd.iterrows():
        insert_if_not_exists(
            "Insured",
            ["insured_id", "policy_number", "insured_name", "insured_gender", "insured_age", 
             "insured_address", "insured_city", "insured_state", "insured_postal_code", "insured_country"],
            (row['insured_id'], row['policy_number'], row['insured_name'], row['insured_gender'], row['insured_age'],
             row['insured_address'], row['insured_city'], row['insured_state'], row['insured_postal_code'], row['insured_country'])
        )
else:
    print("Algunas columnas necesarias no existen para la tabla 'Insured'")

# **3. Insertar en la tabla 'Premium'**
if all(col in data_cleaned_pd.columns for col in ["policy_number", "premium_amount", "deductible_amount", "coverage_limit"]):
    for _, row in data_cleaned_pd.iterrows():
        insert_if_not_exists(
            "Premium",
            ["policy_number", "premium_amount", "deductible_amount", "coverage_limit"],
            (row['policy_number'], row['premium_amount'], row['deductible_amount'], row['coverage_limit'])
        )
else:
    print("Algunas columnas necesarias no existen para la tabla 'Premium'")

# **4. Insertar en la tabla 'Payments'**
if all(col in data_cleaned_pd.columns for col in ["policy_number", "payment_status", "payment_date", "payment_amount", "payment_method"]):
    for _, row in data_cleaned_pd.iterrows():
        insert_if_not_exists(
            "Payments",
            ["policy_number", "payment_status", "payment_date", "payment_amount", "payment_method"],
            (row['policy_number'], row['payment_status'], row['payment_date'], row['payment_amount'], row['payment_method'])
        )
else:
    print("Algunas columnas necesarias no existen para la tabla 'Payments'")

# **5. Insertar en la tabla 'Claims'**
if all(col in data_cleaned_pd.columns for col in ["policy_number", "claim_status", "claim_date", "claim_amount", "claim_description"]):
    for _, row in data_cleaned_pd.iterrows():
        insert_if_not_exists(
            "Claims",
            ["policy_number", "claim_status", "claim_date", "claim_amount", "claim_description"],
            (row['policy_number'], row['claim_status'], row['claim_date'], row['claim_amount'], row['claim_description'])
        )
else:
    print("Algunas columnas necesarias no existen para la tabla 'Claims'")

# **6. Insertar en la tabla 'Agents'**
if all(col in data_cleaned_pd.columns for col in ["policy_number", "agent_name", "agent_email", "agent_phone"]):
    for _, row in data_cleaned_pd.iterrows():
        insert_if_not_exists(
            "Agents",
            ["policy_number", "agent_name", "agent_email", "agent_phone"],
            (row['policy_number'], row['agent_name'], row['agent_email'], row['agent_phone'])
        )
else:
    print("Algunas columnas necesarias no existen para la tabla 'Agents'")

# Cerrar la conexión
cursor.close()
conn.close()

Column names:  ['id', 'first_name', 'last_name', 'email', 'gender', 'policy_number', 'insured_name', 'insured_gender', 'insured_age', 'insured_address', 'insured_city', 'insured_state', 'insured_postal_code', 'insured_country', 'policy_start_date', 'policy_end_date', 'premium_amount', 'deductible_amount', 'coverage_limit', 'policy_type', 'insurance_company', 'agent_name', 'agent_email', 'agent_phone', 'claim_status', 'claim_date', 'claim_amount', 'claim_description', 'payment_status', 'payment_date', 'payment_amount', 'payment_method']
Algunas columnas necesarias no existen para la tabla 'Insured'

ProgrammingError: (207, b"Invalid column name 'nan'.DB-Lib error message 20018, severity 16:\nGeneral SQL Server error: Check messages from the SQL Server\n")

In [62]:
import pandas as pd
import pymssql
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, to_date, regexp_extract, when
from pyspark.sql.types import DoubleType

# Inicializa la sesión de Spark
spark = SparkSession.builder.master("local").appName("DataCleaning").getOrCreate()

# Ruta del archivo cargado
file_path = "C:\\Users\\Usuario\\Documents\\WILLIAM\\DOCUMENTOS\\PERSONALES\\MONOKERA\\MOCK_DATA.csv"

# Leer el archivo CSV y asegurarse de que tiene encabezado y tipo de datos inferido
data_3 = spark.read.csv(file_path, header=True, inferSchema=True)

# Verificar los nombres de las columnas
print("Column names: ", data_3.columns)

# Limpiar la columna 'id' para extraer solo los números (si están en el formato esperado)
data_3 = data_3.withColumn('id', regexp_extract(col('id'), r'\d+', 0))

# Filtrar filas donde 'id' no es nulo y contiene solo números
data_3_cleaned = data_3.filter(col('id').rlike('^\d+$'))

# Verificar si las columnas de fecha existen y convertirlas al formato correcto
date_columns = ["claim_date", "payment_date"]
for col_name in date_columns:
    if col_name in data_3_cleaned.columns:
        data_3_cleaned = data_3_cleaned.withColumn(col_name, to_date(col(col_name), "M/d/yyyy"))
    else:
        print(f"Columna '{col_name}' no encontrada")

# Manejo de valores nulos
data_cleaned = data_3_cleaned.fillna({
    "insured_age": 0,
    "insured_gender": "Unknown",
    "claim_status": "Unknown",
    "payment_status": "Unknown",
    "payment_method": "Unknown"
})

# Convertir columnas numéricas relevantes a tipos adecuados y manejar nulos
numeric_columns = ["claim_amount", "payment_amount"]
for col_name in numeric_columns:
    if col_name in data_cleaned.columns:
        data_cleaned = data_cleaned.withColumn(
            col_name, 
            when(col(col_name).isNull(), None).otherwise(col(col_name)).cast(DoubleType())
        )
    else:
        print(f"Columna '{col_name}' no encontrada para conversión a tipo numérico")

# Convertir el DataFrame de Spark a Pandas para usar pymssql
data_cleaned_pd = data_cleaned.toPandas()

# **CONEXIÓN A SQL SERVER Y ESCRITURA DE DATOS CON pymssql**

# Establecer la conexión con SQL Server
conn = pymssql.connect(
    server="LAPTOP-O07NV287",  # Dirección del servidor
    user="williamxlr",         # Nombre de usuario
    password="Al3xW$1978",     # Contraseña
    database="monokera"        # Nombre de la base de datos
)

cursor = conn.cursor()

# Función para insertar solo si el registro no existe
def insert_if_not_exists(table, columns, values):
    # Crear consulta para verificar si el registro ya existe
    select_query = f"SELECT COUNT(*) FROM {table} WHERE {columns[0]} = %s"
    cursor.execute(select_query, (values[0],))
    result = cursor.fetchone()
    
    if result[0] == 0:
        # Si no existe, insertar el registro
        insert_query = f"INSERT INTO {table} ({', '.join(columns)}) VALUES ({', '.join(['%s'] * len(values))})"
        cursor.execute(insert_query, values)
        conn.commit()
    else:
        print(f"Registro con {columns[0]} = {values[0]} ya existe en la tabla {table}.")

# **1. Insertar en la tabla 'Policy'**
if all(col in data_cleaned_pd.columns for col in ["policy_number", "policy_start_date", "policy_end_date", "policy_type", "insurance_company"]):
    for _, row in data_cleaned_pd.iterrows():
        insert_if_not_exists(
            "Policy",
            ["policy_number", "policy_start_date", "policy_end_date", "policy_type", "insurance_company"],
            (row['policy_number'], row['policy_start_date'], row['policy_end_date'], row['policy_type'], row['insurance_company'])
        )
else:
    print("Algunas columnas necesarias no existen para la tabla 'Policy'")

# **2. Insertar en la tabla 'Insured'**
if all(col in data_cleaned_pd.columns for col in ["insured_id", "policy_number", "insured_name", "insured_gender", "insured_age",
                                                 "insured_address", "insured_city", "insured_state", "insured_postal_code", "insured_country"]):
    for _, row in data_cleaned_pd.iterrows():
        insert_if_not_exists(
            "Insured",
            ["insured_id", "policy_number", "insured_name", "insured_gender", "insured_age", 
             "insured_address", "insured_city", "insured_state", "insured_postal_code", "insured_country"],
            (row['insured_id'], row['policy_number'], row['insured_name'], row['insured_gender'], row['insured_age'],
             row['insured_address'], row['insured_city'], row['insured_state'], row['insured_postal_code'], row['insured_country'])
        )
else:
    print("Algunas columnas necesarias no existen para la tabla 'Insured'")

# **3. Insertar en la tabla 'Premium'**
if all(col in data_cleaned_pd.columns for col in ["policy_number", "premium_amount", "deductible_amount", "coverage_limit"]):
    for _, row in data_cleaned_pd.iterrows():
        insert_if_not_exists(
            "Premium",
            ["policy_number", "premium_amount", "deductible_amount", "coverage_limit"],
            (row['policy_number'], row['premium_amount'], row['deductible_amount'], row['coverage_limit'])
        )
else:
    print("Algunas columnas necesarias no existen para la tabla 'Premium'")

# **4. Insertar en la tabla 'Payments'**
if all(col in data_cleaned_pd.columns for col in ["policy_number", "payment_status", "payment_date", "payment_amount", "payment_method"]):
    for _, row in data_cleaned_pd.iterrows():
        insert_if_not_exists(
            "Payments",
            ["policy_number", "payment_status", "payment_date", "payment_amount", "payment_method"],
            (row['policy_number'], row['payment_status'], row['payment_date'], row['payment_amount'], row['payment_method'])
        )
else:
    print("Algunas columnas necesarias no existen para la tabla 'Payments'")

# **5. Insertar en la tabla 'Claims'**
if all(col in data_cleaned_pd.columns for col in ["policy_number", "claim_status", "claim_date", "claim_amount", "claim_description"]):
    for _, row in data_cleaned_pd.iterrows():
        insert_if_not_exists(
            "Claims",
            ["policy_number", "claim_status", "claim_date", "claim_amount", "claim_description"],
            (row['policy_number'], row['claim_status'], row['claim_date'], row['claim_amount'], row['claim_description'])
        )
else:
    print("Algunas columnas necesarias no existen para la tabla 'Claims'")

# **6. Insertar en la tabla 'Agents'**
if all(col in data_cleaned_pd.columns for col in ["policy_number", "agent_name", "agent_email", "agent_phone"]):
    for _, row in data_cleaned_pd.iterrows():
        insert_if_not_exists(
            "Agents",
            ["policy_number", "agent_name", "agent_email", "agent_phone"],
            (row['policy_number'], row['agent_name'], row['agent_email'], row['agent_phone'])
        )
else:
    print("Algunas columnas necesarias no existen para la tabla 'Agents'")

# Cerrar la conexión
cursor.close()
conn.close()

Column names:  ['id', 'first_name', 'last_name', 'email', 'gender', 'policy_number', 'insured_name', 'insured_gender', 'insured_age', 'insured_address', 'insured_city', 'insured_state', 'insured_postal_code', 'insured_country', 'policy_start_date', 'policy_end_date', 'premium_amount', 'deductible_amount', 'coverage_limit', 'policy_type', 'insurance_company', 'agent_name', 'agent_email', 'agent_phone', 'claim_status', 'claim_date', 'claim_amount', 'claim_description', 'payment_status', 'payment_date', 'payment_amount', 'payment_method']
Algunas columnas necesarias no existen para la tabla 'Insured'

ProgrammingError: (207, b"Invalid column name 'nan'.DB-Lib error message 20018, severity 16:\nGeneral SQL Server error: Check messages from the SQL Server\n")

In [52]:
import pandas as pd

# Ruta del archivo cargado
file_path = "C:\\Users\\Usuario\\Documents\\WILLIAM\\DOCUMENTOS\\PERSONALES\\MONOKERA\\MOCK_DATA.csv"

# Cargar el archivo para inspeccionar su contenido
data_2 = pd.read_csv(file_path)

# Convertir fechas al formato correcto
date_columns = ["claim_date", "payment_date"]
for col_name in date_columns:
    data_2[col_name] = pd.to_datetime(data_2[col_name], format="%m/%d/%Y", errors="coerce")

# Manejo de valores nulos
data_2.fillna({
    "insured_age": 0,
    "insured_gender": "Desconocido",
    "claim_status": "Unknown",
    "payment_status": "Unknown",
    "payment_method": "Unknown"
}, inplace=True)

# Convertir columnas numéricas relevantes a tipos adecuados
numeric_columns = ["claim_amount", "payment_amount"]
for col_name in numeric_columns:
    data_2[col_name] = pd.to_numeric(data_2[col_name], errors="coerce")

# Mostrar las primeras filas después de limpieza
print(data_2.head())

    id first_name    last_name                      email  gender  \
0  1.0      Bessy  Tomaszynski      btomaszynski0@icio.us    Male
1  2.0       Cher       Gjerde         cgjerde1@hexun.com     NaN
2  3.0   Felicity       Lowman        flowman2@flavors.me    Male
3  4.0        Ive      Jervois          ijervois3@epa.gov    Male
4  5.0     Gretal     Bauckham  gbauckham4@slideshare.net  Female

   policy_number       insured_name insured_gender  insured_age  \
0              1  Bessy Tomaszynski    Desconocido         63.0
1              2        Cher Gjerde         Female         19.0
2              3    Felicity Lowman         Female         43.0
3              4        Ive Jervois           Male         60.0
4              5    Gretal Bauckham         Female         29.0

        insured_address  ...              agent_email        agent_phone  \
0     1 Northland Trail  ...  btomaszynski0@alexa.com  +1 (757) 646-3536
1       98989 Basil Way  ...       cgjerde1@fotki.com  +1 (850) 302-7531
2         2 Derek Place  ...  flowman2@wikispaces.com  +1 (754) 879-3501
3  889 Twin Pines Court  ...     ijervois3@ebay.co.uk                NaN
4  39745 Clarendon Hill  ...        gbauckham4@goo.gl  +1 (480) 648-4238

   claim_status claim_date claim_amount  \
0      Approved 2022-12-11      7589.60
1        Denied 2022-08-20      5777.00
2       Pending 2022-05-04      1684.43
3      Approved 2022-08-09      8160.13
4      Approved 2022-06-08      9694.67

                                   claim_description  payment_status  \
0  Duis bibendum, felis sed interdum venenatis, t...         Overdue
1  Quisque id justo sit amet sapien dignissim ves...         Overdue
2  In sagittis dui vel nisl. Duis ac nibh. Fusce ...         Pending
3  In hac habitasse platea dictumst. Etiam faucib...         Pending
4  Praesent id massa id nisl venenatis lacinia. A...         Pending

   payment_date  payment_amount payment_method
0    2022-03-19          644.58    Credit Card
1    2022-06-03          912.79          Check
2    2022-08-23          995.75          Check
3    2022-11-18          190.06  Bank Transfer
4    2022-11-26          645.52          Check

[5 rows x 32 columns]

In [61]:
import pandas as pd
import pymssql
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, to_date, regexp_extract, when
from pyspark.sql.types import DoubleType

# Inicializa la sesión de Spark
spark = SparkSession.builder.master("local").appName("DataCleaning").getOrCreate()

# Ruta del archivo cargado
file_path = "C:\\Users\\Usuario\\Documents\\WILLIAM\\DOCUMENTOS\\PERSONALES\\MONOKERA\\MOCK_DATA.csv"

# Leer el archivo CSV y asegurarse de que tiene encabezado y tipo de datos inferido
data_3 = spark.read.csv(file_path, header=True, inferSchema=True)

# Verificar los nombres de las columnas
print("Column names: ", data_3.columns)

# Limpiar la columna 'id' para extraer solo los números (si están en el formato esperado)
data_3 = data_3.withColumn('id', regexp_extract(col('id'), r'\d+', 0))

# Filtrar filas donde 'id' no es nulo y contiene solo números
data_3_cleaned = data_3.filter(col('id').rlike('^\d+$'))

# Verificar si las columnas de fecha existen y convertirlas al formato correcto
date_columns = ["claim_date", "payment_date"]
for col_name in date_columns:
    if col_name in data_3_cleaned.columns:
        data_3_cleaned = data_3_cleaned.withColumn(col_name, to_date(col(col_name), "M/d/yyyy"))
    else:
        print(f"Columna '{col_name}' no encontrada")

# Manejo de valores nulos
data_cleaned = data_3_cleaned.fillna({
    "insured_age": 0,
    "insured_gender": "Unknown",
    "claim_status": "Unknown",
    "payment_status": "Unknown",
    "payment_method": "Unknown"
})

# Convertir columnas numéricas relevantes a tipos adecuados y manejar nulos
numeric_columns = ["claim_amount", "payment_amount"]
for col_name in numeric_columns:
    if col_name in data_cleaned.columns:
        data_cleaned = data_cleaned.withColumn(
            col_name, 
            when(col(col_name).isNull(), None).otherwise(col(col_name)).cast(DoubleType())
        )
    else:
        print(f"Columna '{col_name}' no encontrada para conversión a tipo numérico")

# Convertir el DataFrame de Spark a Pandas para usar pymssql
data_cleaned_pd = data_cleaned.toPandas()

# **CONEXIÓN A SQL SERVER Y ESCRITURA DE DATOS CON pymssql**

# Establecer la conexión con SQL Server
conn = pymssql.connect(
    server="LAPTOP-O07NV287",  # Dirección del servidor
    user="williamxlr",         # Nombre de usuario
    password="Al3xW$1978",     # Contraseña
    database="monokera"        # Nombre de la base de datos
)

cursor = conn.cursor()

# Función para insertar solo si el registro no existe
def insert_if_not_exists(table, columns, values):
    # Crear consulta para verificar si el registro ya existe
    select_query = f"SELECT COUNT(*) FROM {table} WHERE {columns[0]} = %s"
    cursor.execute(select_query, (values[0],))
    result = cursor.fetchone()
    
    if result[0] == 0:
        # Si no existe, insertar el registro
        insert_query = f"INSERT INTO {table} ({', '.join(columns)}) VALUES ({', '.join(['%s'] * len(values))})"
        cursor.execute(insert_query, values)
        conn.commit()
    else:
        print(f"Registro con {columns[0]} = {values[0]} ya existe en la tabla {table}.")

# **1. Insertar en la tabla 'Policy'**
if all(col in data_cleaned_pd.columns for col in ["policy_number", "start_date", "end_date", "insured_id", "agent_id", "premium_id"]):
    for _, row in data_cleaned_pd.iterrows():
        insert_if_not_exists(
            "Policy",
            ["policy_number", "start_date", "end_date", "insured_id", "agent_id", "premium_id"],
            (row['policy_number'], row['start_date'], row['end_date'], row['insured_id'], row['agent_id'], row['premium_id'])
        )
else:
    print("Algunas columnas necesarias no existen para la tabla 'Policy'")

# **2. Insertar en la tabla 'Insured'**
if all(col in data_cleaned_pd.columns for col in ["insured_id", "first_name", "last_name", "gender", "dob", "address"]):
    for _, row in data_cleaned_pd.iterrows():
        insert_if_not_exists(
            "Insured",
            ["insured_id", "first_name", "last_name", "gender", "dob", "address"],
            (row['insured_id'], row['first_name'], row['last_name'], row['gender'], row['dob'], row['address'])
        )
else:
    print("Algunas columnas necesarias no existen para la tabla 'Insured'")

# **3. Insertar en la tabla 'Premium'**
if all(col in data_cleaned_pd.columns for col in ["premium_id", "premium_amount", "deductible_amount", "coverage_limit"]):
    for _, row in data_cleaned_pd.iterrows():
        insert_if_not_exists(
            "Premium",
            ["premium_id", "premium_amount", "deductible_amount", "coverage_limit"],
            (row['premium_id'], row['premium_amount'], row['deductible_amount'], row['coverage_limit'])
        )
else:
    print("Algunas columnas necesarias no existen para la tabla 'Premium'")

# **4. Insertar en la tabla 'Payments'**
if all(col in data_cleaned_pd.columns for col in ["policy_number", "payment_status", "payment_date", "payment_amount", "payment_method"]):
    for _, row in data_cleaned_pd.iterrows():
        insert_if_not_exists(
            "Payments",
            ["policy_id", "payment_status", "payment_date", "payment_amount", "payment_method"],
            (row['policy_number'], row['payment_status'], row['payment_date'], row['payment_amount'], row['payment_method'])
        )
else:
    print("Algunas columnas necesarias no existen para la tabla 'Payments'")

# **5. Insertar en la tabla 'Claims'**
if all(col in data_cleaned_pd.columns for col in ["policy_number", "claim_status", "claim_date", "claim_amount"]):
    for _, row in data_cleaned_pd.iterrows():
        insert_if_not_exists(
            "Claims",
            ["policy_id", "claim_status", "claim_date", "claim_amount"],
            (row['policy_number'], row['claim_status'], row['claim_date'], row['claim_amount'])
        )
else:
    print("Algunas columnas necesarias no existen para la tabla 'Claims'")

# **6. Insertar en la tabla 'Agents'**
if all(col in data_cleaned_pd.columns for col in ["agent_id", "agent_name", "agent_channel"]):
    for _, row in data_cleaned_pd.iterrows():
        insert_if_not_exists(
            "Agents",
            ["agent_id", "agent_name", "agent_channel"],
            (row['agent_id'], row['agent_name'], row['agent_channel'])
        )
else:
    print("Algunas columnas necesarias no existen para la tabla 'Agents'")

# Cerrar la conexión
cursor.close()
conn.close()

Column names:  ['id', 'first_name', 'last_name', 'email', 'gender', 'policy_number', 'insured_name', 'insured_gender', 'insured_age', 'insured_address', 'insured_city', 'insured_state', 'insured_postal_code', 'insured_country', 'policy_start_date', 'policy_end_date', 'premium_amount', 'deductible_amount', 'coverage_limit', 'policy_type', 'insurance_company', 'agent_name', 'agent_email', 'agent_phone', 'claim_status', 'claim_date', 'claim_amount', 'claim_description', 'payment_status', 'payment_date', 'payment_amount', 'payment_method']
Algunas columnas necesarias no existen para la tabla 'Policy'
Algunas columnas necesarias no existen para la tabla 'Insured'
Algunas columnas necesarias no existen para la tabla 'Premium'

ProgrammingError: (207, b"Invalid column name 'policy_id'.DB-Lib error message 20018, severity 16:\nGeneral SQL Server error: Check messages from the SQL Server\n")

In [60]:
import pandas as pd
import pymssql
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, to_date, regexp_extract, when
from pyspark.sql.types import DoubleType

# Inicializa la sesión de Spark
spark = SparkSession.builder.master("local").appName("DataCleaning").getOrCreate()

# Ruta del archivo cargado
file_path = "C:\\Users\\Usuario\\Documents\\WILLIAM\\DOCUMENTOS\\PERSONALES\\MONOKERA\\MOCK_DATA.csv"

# Leer el archivo CSV y asegurarse de que tiene encabezado y tipo de datos inferido
data_3 = spark.read.csv(file_path, header=True, inferSchema=True)

# Verificar los nombres de las columnas
print("Column names: ", data_3.columns)

# Limpiar la columna 'id' para extraer solo los números (si están en el formato esperado)
data_3 = data_3.withColumn('id', regexp_extract(col('id'), r'\d+', 0))

# Filtrar filas donde 'id' no es nulo y contiene solo números
data_3_cleaned = data_3.filter(col('id').rlike('^\d+$'))

# Verificar si las columnas de fecha existen y convertirlas al formato correcto
date_columns = ["claim_date", "payment_date"]
for col_name in date_columns:
    if col_name in data_3_cleaned.columns:
        data_3_cleaned = data_3_cleaned.withColumn(col_name, to_date(col(col_name), "M/d/yyyy"))
    else:
        print(f"Columna '{col_name}' no encontrada")

# Manejo de valores nulos
data_cleaned = data_3_cleaned.fillna({
    "insured_age": 0,
    "insured_gender": "Unknown",
    "claim_status": "Unknown",
    "payment_status": "Unknown",
    "payment_method": "Unknown"
})

# Convertir columnas numéricas relevantes a tipos adecuados y manejar nulos
numeric_columns = ["claim_amount", "payment_amount"]
for col_name in numeric_columns:
    if col_name in data_cleaned.columns:
        data_cleaned = data_cleaned.withColumn(
            col_name, 
            when(col(col_name).isNull(), None).otherwise(col(col_name)).cast(DoubleType())
        )
    else:
        print(f"Columna '{col_name}' no encontrada para conversión a tipo numérico")

# Convertir el DataFrame de Spark a Pandas para usar pymssql
data_cleaned_pd = data_cleaned.toPandas()

# **CONEXIÓN A SQL SERVER Y ESCRITURA DE DATOS CON pymssql**

# Establecer la conexión con SQL Server
conn = pymssql.connect(
    server="LAPTOP-O07NV287",  # Dirección del servidor
    user="williamxlr",         # Nombre de usuario
    password="Al3xW$1978",     # Contraseña
    database="monokera"        # Nombre de la base de datos
)

cursor = conn.cursor()

# Función para insertar solo si el registro no existe
def insert_if_not_exists(table, columns, values):
    # Crear consulta para verificar si el registro ya existe
    select_query = f"SELECT COUNT(*) FROM {table} WHERE {columns[0]} = %s"
    cursor.execute(select_query, (values[0],))
    result = cursor.fetchone()
    
    if result[0] == 0:
        # Si no existe, insertar el registro
        insert_query = f"INSERT INTO {table} ({', '.join(columns)}) VALUES ({', '.join(['%s'] * len(values))})"
        cursor.execute(insert_query, values)
        conn.commit()
    else:
        print(f"Registro con {columns[0]} = {values[0]} ya existe en la tabla {table}.")

# **1. Insertar en la tabla 'Policy'**
if all(col in data_cleaned_pd.columns for col in ["policy_number", "policy_start_date", "policy_end_date", "insured_id", "agent_id", "premium_id"]):
    for _, row in data_cleaned_pd.iterrows():
        insert_if_not_exists(
            "Policy",
            ["policy_number", "policy_start_date", "policy_end_date", "insured_id", "agent_id", "premium_id"],
            (row['policy_number'], row['policy_start_date'], row['policy_end_date'], row['insured_id'], row['agent_id'], row['premium_id'])
        )
else:
    print("Algunas columnas necesarias no existen para la tabla 'Policy'")

# **2. Insertar en la tabla 'Insured'**
if all(col in data_cleaned_pd.columns for col in ["insured_id", "first_name", "last_name", "insured_gender", "insured_age", "insured_address"]):
    for _, row in data_cleaned_pd.iterrows():
        insert_if_not_exists(
            "Insured",
            ["insured_id", "first_name", "last_name", "insured_gender", "insured_age", "insured_address"],
            (row['insured_id'], row['first_name'], row['last_name'], row['insured_gender'], row['insured_age'], row['insured_address'])
        )
else:
    print("Algunas columnas necesarias no existen para la tabla 'Insured'")

# **3. Insertar en la tabla 'Premium'**
if all(col in data_cleaned_pd.columns for col in ["premium_id", "premium_amount", "deductible_amount", "coverage_limit"]):
    for _, row in data_cleaned_pd.iterrows():
        insert_if_not_exists(
            "Premium",
            ["premium_id", "premium_amount", "deductible_amount", "coverage_limit"],
            (row['premium_id'], row['premium_amount'], row['deductible_amount'], row['coverage_limit'])
        )
else:
    print("Algunas columnas necesarias no existen para la tabla 'Premium'")

# **4. Insertar en la tabla 'Payments'**
if all(col in data_cleaned_pd.columns for col in ["policy_number", "payment_status", "payment_date", "payment_amount", "payment_method"]):
    for _, row in data_cleaned_pd.iterrows():
        # Obtener policy_number desde Policy usando el policy_number
        cursor.execute("SELECT policy_number FROM Policy WHERE policy_number = %s", (row['policy_number'],))
        policy_number = cursor.fetchone()
        if policy_number:
            insert_if_not_exists(
                "Payments",
                ["policy_number", "payment_status", "payment_date", "payment_amount", "payment_method"],
                (policy_number[0], row['payment_status'], row['payment_date'], row['payment_amount'], row['payment_method'])
            )
else:
    print("Algunas columnas necesarias no existen para la tabla 'Payments'")

# **5. Insertar en la tabla 'Claims'**
if all(col in data_cleaned_pd.columns for col in ["policy_number", "claim_status", "claim_date", "claim_amount"]):
    for _, row in data_cleaned_pd.iterrows():
        # Obtener policy_number desde policy_number usando el policy_number
        cursor.execute("SELECT policy_number FROM Policy WHERE policy_number = %s", (row['policy_number'],))
        policy_number = cursor.fetchone()
        if policy_number:
            insert_if_not_exists(
                "Claims",
                ["policy_number", "claim_status", "claim_date", "claim_amount"],
                (policy_number[0], row['claim_status'], row['claim_date'], row['claim_amount'])
            )
else:
    print("Algunas columnas necesarias no existen para la tabla 'Claims'")

# **6. Insertar en la tabla 'Agents'**
if all(col in data_cleaned_pd.columns for col in ["agent_id", "agent_name", "agent_email"]):
    for _, row in data_cleaned_pd.iterrows():
        insert_if_not_exists(
            "Agents",
            ["agent_id", "agent_name", "agent_email"],
            (row['agent_id'], row['agent_name'], row['agent_email'])
        )
else:
    print("Algunas columnas necesarias no existen para la tabla 'Agents'")

# Cerrar la conexión
cursor.close()
conn.close()

Column names:  ['id', 'first_name', 'last_name', 'email', 'gender', 'policy_number', 'insured_name', 'insured_gender', 'insured_age', 'insured_address', 'insured_city', 'insured_state', 'insured_postal_code', 'insured_country', 'policy_start_date', 'policy_end_date', 'premium_amount', 'deductible_amount', 'coverage_limit', 'policy_type', 'insurance_company', 'agent_name', 'agent_email', 'agent_phone', 'claim_status', 'claim_date', 'claim_amount', 'claim_description', 'payment_status', 'payment_date', 'payment_amount', 'payment_method']
Algunas columnas necesarias no existen para la tabla 'Policy'
Algunas columnas necesarias no existen para la tabla 'Insured'
Algunas columnas necesarias no existen para la tabla 'Premium'
Algunas columnas necesarias no existen para la tabla 'Agents'